@using IGN.Models;
@{
    ViewBag.Title = "rss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{



}





<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-list-ul pull-left"></span>فید های ورزشی</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-4 text-align-center">
                        <span class="trendtitle ">لینک</span>
                    </div>
                    <div class="col-md-4 text-align-center">
                        <span class="trendtitle">تعداد خبر در هربار فراخوانی</span>
                    </div>
                    <div class="col-md-4">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>

                <div class="row margin-top-15  ">
                    <div class="col-md-4 text-align-left">
                        <a href="http://www.yjc.ir/fa/rss/3" ><span>http://www.yjc.ir/fa/rss/3</span></a>
                    </div>
                    <div class="col-md-4 text-align-center">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.yjc.ir/fa/rss/3" ><span>ورزشی</span></a>
                    </div>
                </div>

                <div class="row margin-top-15 ">
                    <div class="col-md-4 text-align-left">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                    </div>
                    <div class="col-md-4 text-align-center">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                    </div>
                    <div class="col-md-4 padding-right-40">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>پرسپولیس</span></a>
                    </div>
                </div>

                <div class="row margin-top-15 padding-bottom-20 ">
                    <div class="col-md-4 text-align-left">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                    </div>
                    <div class="col-md-4 text-align-center">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                    </div>
                    <div class="col-md-4 padding-right-40">
                        <a href="http://www.yjc.ir/fa/rss/3"><span>استقلال</span></a>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-list-ul pull-left"></span>فید های خبری</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-4 text-align-center">
                        <span class="trendtitle ">لینک</span>
                    </div>
                    <div class="col-md-4 text-align-center">
                        <span class="trendtitle">تعداد خبر در هربار فراخوانی</span>
                    </div>
                    <div class="col-md-4">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>
                <div class="borderbottom-dash">
                    <div class="row margin-top-15  ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>ورزشی</span></a>
                        </div>
                    </div>

                    <div class="row margin-top-15 ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4 padding-right-40">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>پرسپولیس</span></a>
                        </div>
                    </div>

                    <div class="row margin-top-15 padding-bottom-20 ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4 padding-right-40">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>استقلال</span></a>
                        </div>
                    </div>
                </div>




                <div>
                    <div class="row margin-top-15  ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>ورزشی</span></a>
                        </div>
                    </div>

                    <div class="row margin-top-15 ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4 padding-right-40">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>پرسپولیس</span></a>
                        </div>
                    </div>

                    <div class="row margin-top-15 padding-bottom-20 ">
                        <div class="col-md-4 text-align-left">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>http://www.yjc.ir/fa/rss/3</span></a>
                        </div>
                        <div class="col-md-4 text-align-center">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>20</span></a>
                        </div>
                        <div class="col-md-4 padding-right-40">
                            <a href="http://www.yjc.ir/fa/rss/3"><span>استقلال</span></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

@section Script
    {







}
