@using IGN.Models
@{
    Layout = null;
}




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="طراحی سایت, بهینه سازی سایت, طراحی وب سایت, بهینه سازی وب سایت, سئو" />
    <meta name="keywords" content="Title.Replace,IGreenNews, International Green News, Seo," />
    <meta http-equiv="CHARSET" content="utf-8" />
    <meta name="Content-Language" content="q.tblMagazine.tblMenu.tblLanguage.LanguageName" />
    <meta name="language" content="q.tblMagazine.tblMenu.tblLanguage.LanguageName" />
    <meta content="fa" http-equiv="Content-Language" />
    <meta name="ROBOTS" content="index,follow" />
    <meta property="og:site_name" content="بهینه ساز سبز, Green Optimizer" />




    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/stylenews.min.css" rel="stylesheet" />






    <script src="~/js/jquery.min.js"></script>




</head>



<body class="detailsArticle overflow-hidden" id="myBodyIf">



    <div class="dir-rtl ">


        <div class="row bt-color">
            <div class="col-md-2 text-align-left">
                <ul class="Ul-links">
                    <li>
                        <div class="ico-detail">
                            <a href="https://telegram.me/share/url?url=https://298808927.html&amp" class="fa fa-telegram c-btn color-white font-size-20" title="اشتراک در تلگرام">
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="ico-detail">
                            <a href="" class=" fa fa-share-alt color-white font-size-20">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="ico-detail">
                            <a href="https://pqsic" class=" fa fa-times color-white font-size-20">
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-md-4">
                <span class="c-btn" title="جستجو در تی نیوز" id="searchBtn">
                    <span>
                    </span>
                </span>
                <div class="">
                    <form class="searchform " action="/search" target="_blank">
                        <input class="inputstyle" name="q" placeholder="جستجوی خبر در بیش از 1000 پایگاه خبری..." type="text">
                        <span class="iconsearch">
                            <button class="fa fa-search btnsearchdetail" type="submit">
                                <span>
                                </span>
                            </button>
                        </span>
                    </form>
                </div>

            </div>
            <div class="col-md-4">
                <ul class="Ul-links">
                    <li>
                        <a href="#"><i class=" chart-title fa fa-bar-chart font-12"></i></a>
                    </li>
                    <li>
                        <a href="#"><h4 class="color-white">طارمی:</h4></a>

                    </li>

                    <li class="padding-right-10">
                        <a href="#"><h5 class="color-white">767 خبر مرتبط در این مورد...</h5></a>
                    </li>

                </ul>

            </div>

            <div class="col-md-2">
                <a href="http://igreennews.com" class="">
                    <img src="/images/logo.png" alt="جستجوگر اخبار سبز" title="جستجوگر اخبار سبز">
                </a>
            </div>
        </div>







        <div class="color-bar">
            <div class="color-bar--item green"></div>
            <div class="color-bar--item green"></div>
            <div class="color-bar--item green"></div>
            <div class="color-bar--item green"></div>
            <div class="color-bar--item green"></div>
        </div>




        <div class="row bb-color">
            <div class="col-md-4">
                <a rel="nofollow" href="https://goo.gl/mmXzFn" title="ضده">
                    <img class="ads-size" src="http://khabarpu.com/img/banner/5040.ir_728-90_6_96723.gif" alt="ضده">
                </a>
            </div>
            <div class="col-md-8 TNProp">
                <ul class="Ul-links">
                    <li>
                        <a class="" target="_blank" href="http://greenoptimizer.com/">بهینه سازی سایت</a>
                    </li>
                    <li>
                        <a class="" target="_blank" href="http://greenoptimizer.com/">سئو سایت</a>

                    </li>
                    <li>
                        <a class="" target="_blank" href="http://greenoptimizer.com/">طراحی سایت</a>
                    </li>
                </ul>


            </div>

        </div>



        <div class="color-bar">
            <div class="color-bar--item red"></div>
            <div class="color-bar--item yellow"></div>
            <div class="color-bar--item blue"></div>
            <div class="color-bar--item green"></div>
            <div class="color-bar--item gray"></div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <div class="detailbtn">
                    <div class="indetail">
                        <a target="_blank" id="googleplus" title="share on google plus" href="https://plus.google.com/share?url=http://varzesh3.com">
                            <img border="0" alt="گوگل پلاس" src="~/images/google.png">
                        </a>&ensp;
                        <a target="_blank" title="share on cloob" href="http://www.cloob.com/share/link/add?url=http://varzesh3.com">
                            <img border="0" alt="کلوب" src="~/images/cloob.png">
                        </a>&ensp;
                        <a target="_blank" title="share on linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://varzesh3.com">
                            <img border="0" alt="linkedin" src="~/images/linkedin.png">
                        </a>

                    </div>
                </div>
            </div>
        </div>


    </div>

    @*@{

            var item = q.LinkUrl;

            //string myUrl = item.Substring(7, item.Length - 7);
            string myUrl;

            if (item.Contains("https"))
            {
                myUrl = item.Split(new string[] { "https://" }, StringSplitOptions.None)[1].ToString();

            }
            else
            {
                myUrl = item.Split(new string[] { "http://" }, StringSplitOptions.None)[1].ToString();
            }

        }*@




    

</body>



</html>









<script>


    $(document).ready(function () {

        
        BindingNewsById(@Utility.NewsID)

      //  window.history.pushState("object or string", "Title", "/test" );
        function BindingNewsById(NewsID) {

            $.getJSON("http://192.168.1.10:13311/api/tblNews/" + NewsID + "", function (result) {


                var q = result[0].Link.substring(0, 9);
                var url  = ""

              //  console.log(q);

                var splitword = q.split(':');
                if (splitword == "http") {

                    url = result[0].Link.substring(6, result[0].Link.length);
                    
                }
                else if (splitword = "https") {
                    
                    url = result[0].Link.substring(7, result[0].Link.length );
                    
                }

                    
                var $ifra = "<iframe id=\"myframe\" name=\"myframe\" src=\"" + result[0].Link + "\" class=\"iframe\" frameborder=\"0\"></iframe>";
                
                //window.history.pushState("object or string", "Title",  urla);
                $("#myBodyIf").append($ifra);


            });
        };

    })




</script>




