@using IGN.Models;
@{
    ViewBag.Title = "tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{


}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>لیست منابع خبری</h2>
            <div class="widget-content">


                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>                   
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                </div>
                <div class="row margin-top-15 padding-bottom-20">
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">ورزش 3</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">زومیت</a>
                    </div>
                </div>






            </div>
            <!-- widget content -->
        </div>


    </div>
</div>











@section Script
    {










        

}