@using IGN.Models;
@{
    ViewBag.Title = "tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/SimpleChart.css" rel="stylesheet" />
}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12" id="LanguagePages">

            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>پروفایل من</h2>
            <div class="widget-content">


                <div class="row margin-top-15">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6 no-padding">

                                <button type="button" class="btn btn-accent shadow friend-form-btn">نمایش دوستان بیشتر</button>
                            </div>
                            <div class="col-md-6 no-padding">

                                <a class=" notranslate" href="#" title="دوستان من">دوستان من</a>
                            </div>

                        </div>




                        <div class="row ">
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="padding-4">
                                    <a href="#">
                                        <div>
                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                            <div class="">
                                                <div class="font-size-10">محمد جلیلی</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                      




                    </div>
                    <div class="col-md-7">
                        <h1 class="text-align-right notranslate" title="احمد شهباز" id="PageUserName">احمد شهباز</h1>
                        <div class="margin-top-20">
                            <span id="DescriptionUserID">خوردَنگاه "رستوران" فرنگي سه گوش گريل تهرانپارس، فرجام شرقی، جنب زرین، پ ۱۲۲  دليوري و رزرو ۷۷۷۳۴۶۷۰ جهت اطلاع از منو و قیمت ها👇👇👇</span>
                        </div>
                        <div class="text-align-left margin-top-20" id="hrefTagSocial">
                           
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle_profile circlepos_profile" id="ImageDivID">
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>اضافه کردن به ترند اخبار مورد علاقه</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span>تگ:</span>
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="پرسپولیس" />
                            </span>
                            <button id="btnSearchTagInCategory" type="button" class="btn btn-accent shadow subscriber-form-btn">اضافه کردن</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iTec">
                            <input id="iTec" type="radio" name="cRadio" class="inputnone " accesskey="7" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-desktop fa-lg"></i>
                            <label class="font-size-11" for="iTec">فناوری</label>
                        </label>

                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iSci">
                            <input id="iSci" type="radio" name="cRadio" class="inputnone " accesskey="4" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-medkit fa-lg"></i>
                            <label class="font-size-11" for="iSci">علمی پزشکی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iJob">
                            <input id="iJob" type="radio" name="cRadio" class="inputnone " accesskey="5" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-address-card-o fa-lg"></i>
                            <label class="font-size-11" for="iJob">استخدام</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iPic">
                            <input id="iPic" type="radio" name="cRadio" class="inputnone " accesskey="12" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-picture-o fa-lg"></i>
                            <label class="font-size-11" for="iPic">تصویری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iSpo">
                            <input id="iSpo" type="radio" name="cRadio" class="inputnone " accesskey="1" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label class="font-size-11" for="iSpo">ورزشی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iall">
                            <input id="iall" type="radio" name="cRadio" class="inputnone " accesskey="-1" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label class="font-size-11" for="iall">همه</label>
                        </label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iFore">
                            <input id="iFore" type="radio" name="cRadio" class="inputnone " accesskey="10" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-globe fa-lg"></i>
                            <label class="font-size-11" for="iFore">بین المللی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iSoc">
                            <input id="iSoc" type="radio" name="cRadio" class="inputnone " accesskey="9" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-puzzle-piece fa-lg"></i>
                            <label class="font-size-11" for="iSoc">اجتماعی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iMon">
                            <input id="iMon" type="radio" name="cRadio" class="inputnone " accesskey="6" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-money fa-lg"></i>
                            <label class="font-size-11" for="iMon">اقتصادی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iCol">
                            <input id="iCol" type="radio" name="cRadio" class="inputnone " accesskey="8" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-book fa-lg"></i>
                            <label class="font-size-11" for="iCol">فرهنگ و هنر</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iPol">
                            <input id="iPol" type="radio" name="cRadio" class="inputnone " accesskey="2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-bomb fa-lg"></i>
                            <label class="font-size-11" for="iPol">سیاسی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iAcc">
                            <input id="iAcc" type="radio" name="cRadio" class="inputnone " accesskey="3" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-ambulance fa-lg"></i>
                            <label class="font-size-11" for="iAcc">حوادث</label>
                        </label>
                    </div>


                </div>

                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iChef">
                            <input id="iChef" type="radio" name="cRadio" class="inputnone " accesskey="18" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-cutlery fa-lg"></i>
                            <label class="font-size-11" for="iChef">آشپزی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iDow">
                            <input id="iDow" type="radio" name="cRadio" class="inputnone " accesskey="16" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-download fa-lg"></i>
                            <label class="font-size-11" for="iDow">دانلود</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iOth">
                            <input id="iOth" type="radio" name="cRadio" class="inputnone " accesskey="11" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-outdent fa-lg"></i>
                            <label class="font-size-11" for="iOth">گوناگون</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iTra">
                            <input id="iTra" type="radio" name="cRadio" class="inputnone " accesskey="14" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-plane fa-lg"></i>
                            <label class="font-size-11" for="iTra">گردشگری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iCin">
                            <input id="iCin" type="radio" name="cRadio" class="inputnone " accesskey="13" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-film fa-lg"></i>
                            <label class="font-size-11" for="iCin">سینمایی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="iCar">
                            <input id="iCar" type="radio" name="cRadio" class="inputnone " accesskey="15" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-car fa-lg"></i>
                            <label class="font-size-11" for="iCar">خودرو</label>
                        </label>
                    </div>
                </div>
                <div class="row padding-bottom-20 ">
                    <div class="col-md-12">
                        <label class="btnradio custom-radio-btn" for="iFun">
                            <input id="iFun" type="radio" name="cRadio" class="inputnone " accesskey="17" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-smile-o fa-lg"></i>
                            <label class="font-size-11" for="iFun">اتاق طنز</label>
                        </label>
                    </div>

                </div>
 
            </div>

        </div>

    </div>
</div>



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>مشاهده ترند خبرهای مورد علاقه</h2>
            <div class="widget-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="Hybridgraph" style="width: 98%; height: 300px">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <span class="trendtitle">حذف از ترند</span>
                    </div>
                    <div class="col-md-2">
                        <span class="trendtitle">نمایش به صورت نمودار</span>
                    </div>
                    <div class="col-md-2">
                        <span class="trendtitle">تعداد خبر</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">تاریخ</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">دسته بندی</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>

                <div class="row margin-top-15 padding-bottom-5">
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-check" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-2">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-2">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-2">
                        <span>پرسپولیس</span>
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-check" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-2">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-2">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-2">
                        <span>بیرانوند</span>
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-check" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-2">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-2">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-2">
                        <span>امیری</span>
                    </div>
                </div>
                <div class="row  padding-bottom-5">
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-check" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-2">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-2">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-2">
                        <span>برانکو</span>
                    </div>
                </div>
                <div class="row padding-bottom-20 ">
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="trendprofilesico fa fa-check" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-2">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-2">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-2">
                        <span>طارمی</span>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span> انتخاب چینش اخبار مورد علاقه در صفحه من</h2>
            <div class="widget-content">


                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-desktop fa-lg"></i>
                                <input id="iTeccf" class="display-none ckhCategoryFavorites" accesskey="7" type="checkbox">
                                <label for="iTeccf">فناوری</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-medkit fa-lg"></i>
                                <input id="iScicf" class="display-none ckhCategoryFavorites" accesskey="4" type="checkbox">
                                <label for="iScicf">علمی پزشکی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-address-card-o fa-lg"></i>
                                <input id="iJobcf" class="display-none ckhCategoryFavorites" accesskey="5" type="checkbox">
                                <label for="iJobcf">استخدام</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-picture-o fa-lg"></i>
                                <input id="iPiccf" class="display-none ckhCategoryFavorites" accesskey="12" type="checkbox">
                                <label for="iPiccf">تصویری</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-futbol-o fa-lg"></i>
                                <input id="iSpocf" class="display-none ckhCategoryFavorites" accesskey="1" type="checkbox">
                                <label for="iSpocf">ورزشی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-futbol-o fa-lg"></i>
                                <input id="iallcf" class="display-none ckhCategoryFavorites" accesskey="-1" type="checkbox">
                                <label for="iallcf">همه</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-globe fa-lg"></i>
                                <input id="iForecf" class="display-none ckhCategoryFavorites" accesskey="10" type="checkbox">
                                <label for="iForecf">بین المللی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-puzzle-piece fa-lg"></i>
                                <input id="iSoccf" class="display-none ckhCategoryFavorites" accesskey="9" type="checkbox">
                                <label for="iSoccf">اجتماعی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-money fa-lg"></i>
                                <input id="iMoncf" class="display-none ckhCategoryFavorites" accesskey="6" type="checkbox">
                                <label for="iMoncf">اقتصادی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-book fa-lg"></i>
                                <input id="iColcf" class="display-none ckhCategoryFavorites" accesskey="8" type="checkbox">
                                <label for="iColcf">فرهنگ و هنر</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-bomb fa-lg"></i>
                                <input id="iPolcf" class="display-none ckhCategoryFavorites" accesskey="2" type="checkbox">
                                <label for="iPolcf">سیاسی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-ambulance fa-lg"></i>
                                <input id="iAcccf" class="display-none ckhCategoryFavorites" accesskey="3" type="checkbox">
                                <label for="iAcccf">حوادث</label>
                            </span>
                        </div>
                    </div>


                </div>

                <div class="row margin-top-15">
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-cutlery fa-lg"></i>
                                <input id="iChefcf" class="display-none ckhCategoryFavorites" accesskey="18" type="checkbox">
                                <label for="iChefcf">آشپزی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-download fa-lg"></i>
                                <input id="iDowcf" class="display-none ckhCategoryFavorites" accesskey="16" type="checkbox">
                                <label for="iDowcf">دانلود</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-outdent fa-lg"></i>
                                <input id="iOthcf" class="display-none ckhCategoryFavorites" accesskey="11" type="checkbox">
                                <label for="iOthcf">گوناگون</label>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-plane fa-lg"></i>
                                <input id="iTracf" class="display-none ckhCategoryFavorites" accesskey="14" type="checkbox">
                                <label for="iTracf">گردشگری</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-film fa-lg"></i>
                                <input id="iCincf" class="display-none ckhCategoryFavorites" accesskey="13" type="checkbox">
                                <label for="iCincf">سینمایی</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-car fa-lg"></i>
                                <input id="iCarcf" class="display-none ckhCategoryFavorites" accesskey="15" type="checkbox">
                                <label for="iCarcf">خودرو</label>
                            </span>
                        </div>
                    </div>
                </div>





                <div class="row margin-top-15 padding-bottom-20 ">
                    <div class="col-md-10 text-align-left">
                        <button type="button" class="btn btn-accent shadow subscriber-form-btn">نمایش بده</button>

                    </div>
                    <div class="col-md-2">
                        <div class="rkmd-checkbox checkbox-ripple">
                            <span class="md-checkbox">
                                <i class="size-chkbxico fa fa-smile-o fa-lg"></i>
                                <input id="iFuncf" class="display-none ckhCategoryFavorites" accesskey="17" type="checkbox">
                                <label for="iFuncf">اتاق طنز</label>
                            </span>
                        </div>
                    </div>

                </div>




            </div>

        </div>


    </div>
</div>


<div class="row ">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10 sortable">
        <div class="widget widget-news card boxNewsMyProfile">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>اخبار حوادث</h2>
            <div class="widget-content">
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget widget-news card boxNewsMyProfile">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>اخبار فناوری</h2>
            <div class="widget-content">
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget widget-news card boxNewsMyProfile">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>اخبار ورزشی</h2>
            <div class="widget-content">
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget widget-news card boxNewsMyProfile">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>اخبار علمی پزشکی</h2>
            <div class="widget-content">
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">

                            <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                                    <ul class="SourceNews">
                                        <li>مشرق نیوز</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9  no-padding">
                                    <div>
                                        <div class="boxin-right"><span class="fa fa-angle-double-left HomeBoxes" aria-hidden="true"></span></div>
                                        <h1 class="titleNews">
                                            <a href="#">مهاجم جدید استقلال از راه رسید</a>
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>




    </div>


</div>








@section Script
    {

    <script src="~/js/SimpleChart.js"></script>


    <script>


        //function triggerChange() {
        //    $(".ckhTrend").trigger("change");
        //}
        //triggerChange();

        var arrCheckBoxTrend = [];
        $(".ckhTrend").change(function () {

            if ($(this).attr("checked")) {
                alert("hi")
            }

            var qaccekey = $(this).attr("accessKey");

            var added = false;

            if (arrCheckBoxTrend.length == 0) {
                arrCheckBoxTrend.push({ arrKey: $(this).attr("accessKey"), arrName: $(this).attr("id") });
            } else {
                arrCheckBoxTrend.splice(0, 1);
                arrCheckBoxTrend.push({ arrKey: $(this).attr("accessKey"), arrName: $(this).attr("id") });
            }
            


            console.log(arrCheckBoxTrend);
           
        });
        var arrckhCategoryFavorites = [];
        $(".ckhCategoryFavorites").change(function () {

            var qaccekey = $(this).attr("accessKey");

            var added = false;

            if (arrckhCategoryFavorites.length == 0) {
                arrckhCategoryFavorites.push({ arrKey: $(this).attr("accessKey"), arrName: $(this).attr("id") });
            }
            else {

                for (var i = 0; i < arrckhCategoryFavorites.length; i++) {
                    if (arrckhCategoryFavorites[i].arrKey == qaccekey) {

                        arrckhCategoryFavorites.splice(i, 1)
                        added = true;
                    }
                }
                if (added == false) {
                    arrckhCategoryFavorites.push({ arrKey: $(this).attr("accessKey"), arrName: $(this).attr("id") });
                }

            }

            console.log(arrckhCategoryFavorites);

        });


        $("#btnSearchTagInCategory").click(function () {






        })  



         function LoadUserWallPages(pageid) {

             console.log("Hi i am " + pageid);
             $.getJSON("http://192.168.1.10:13311/api/tblUserWallPages/" + pageid + "-GetPage", function (result) {
                 console.log(result[0]);
                 $("#PageUserName").text("@Utility.CurrentUser.Lastname")
                 $("#DescriptionUserID").text(result[0].Description);
                 $("#hrefTagSocial").html("<a class=\"\" href=\"#\" rel=\"nofollow me noopener noreferrer\" target=\"_blank\"> " + result[0].TelegramLink + "</a></br > <a class=\"\" href=\"#\" rel=\"nofollow me noopener noreferrer\" target=\"_blank\"> " + result[0].FacebookLink + "</a>");
                 $("#ImageDivID").html("<img class=\"full_size\" src=\"" + result[0].PageImageUrl + "\" alt=\"" + result[0].Title + "\">");


                });
            };


        $(document).ready(function () {

            GetUserPages();
            function GetUserPages() {

                $.getJSON("http://192.168.1.10:13311/api/tblUserWallPages/@Utility.CurrentUser.UserID-Multi", function (result) {

                    var $span = "<span>صفحه های من به زبان های گوناگون</span>"
                    var $ulInline = $span + "<ul id=\"ulInline\"></ul>";
                    $("#LanguagePages").html($ulInline);
                    $.each(result, function (i, item) {
                        $("#ulInline").append("<li><a onclick=\"LoadUserWallPages(" + item.UserWallPageID + ");\" href=\"javascript:void(0);\" >" + item.Title + "</a></li>")
                    });
                });
            };





            })




            $(function () {
                $(".sortable").sortable();
                $(".sortable").disableSelection();
            });







            var graphdata1 = {
                linecolor: "Random",
                title: "ماه",
                values: [
                    { X: "20 مهر", Y: 300 },
                    { X: "21 مهر", Y: 101 },
                    { X: "22 مهر", Y: 310 },
                    { X: "23 مهر", Y: 401 },
                    { X: "24 مهر", Y: 151 },
                    { X: "25 مهر", Y: 205 },
                    { X: "26 مهر", Y: 200 },
                    { X: "27 مهر", Y: 107 },
                    { X: "28 مهر", Y: 201 },
                    { X: "29 مهر", Y: 401 },
                    { X: "30 مهر", Y: 387 },
                    { X: "31 مهر", Y: 318 },
                    { X: "1 آبان", Y: 200 },
                    { X: "2 آبان", Y: 150 },
                    { X: "3 آبان", Y: 140 },
                    { X: "4 آبان", Y: 140 },
                    { X: "5 آبان", Y: 137 },
                    { X: "6 آبان", Y: 181 }
                ]
            };

            $(function () {

                $("#Hybridgraph").SimpleChart({
                    ChartType: "Hybrid",
                    toolwidth: "50",
                    toolheight: "25",
                    axiscolor: "#E6E6E6",
                    textcolor: "#6E6E6E",
                    showlegends: false,
                    data: [graphdata1],
                    legendsize: "140",
                    legendposition: 'bottom',
                    xaxislabel: 'روز',
                    yaxislabel: 'تعداد اخبار'
                });

            });

    </script>










}