

@{
    if (ViewBag.lv1 == "خدمات" || ViewBag.lv1 == "اجتماعی" || ViewBag.lv1 == "استخدام")
    {
        <!-- --------شروع خدمات و اجتماعی و استخدام  ---------->

        <div class="row">
            <div class="col-md-12">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="KindService-All" type="radio" value="0" name="KindService" checked>
                        <label for="KindService-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="KindService-Send" type="radio" value="1" name="KindService">
                        <label for="KindService-Send">ارائه کننده</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="KindService-Recieve" type="radio" value="2" name="KindService">
                        <label for="KindService-Recieve">درخواست کننده</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchServicesEmployment" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                <!-- --------پایان خدمات واجتماعی و استخدام  ---------->
    }
}
