

@{
    if (ViewBag.lv1 == "خدمات" || ViewBag.lv1 == "اجتماعی" || ViewBag.lv1 == "استخدام")
    {
        <!-- --------شروع خدمات و اجتماعی و استخدام  ---------->

        <div class="row">
            <div class="col-md-12">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">ارائه کننده</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواست کننده</label>
                    </div>
                </div>
            </div>
        </div>
                <!-- --------پایان خدمات واجتماعی و استخدام  ---------->
    }
}
