



@{


    if (ViewBag.lv1 == "لوازم-خانگی" || ViewBag.lv1 == "لوازم-شخصی" || ViewBag.lv1 == "سرگرمی-و-فراغت" || ViewBag.lv1 == "کسب-و-کار")
    {
        <!-- --------شروع لوازم خانگی و لوازم شخصی و سرگرمی و فراغت و کسب و کار -  تمام سر تیتر ها و جزئیات ها-------- -->

        <div class="row">


            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8 search-col">
                <button class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="checked" class="cbx hidden" />
                                <label for="checked" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>ویژه</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="unchecked" class="cbx hidden" />
                                <label for="unchecked" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span> عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان لوازم خانگی  و لوازم شخصی و سرگرمی و فراغت و کسب و کار -  تمام سر تیتر ها و جزئیات ها-------- -->

    }



}