



@{


    if (ViewBag.lv1 == "لوازم-خانگی" || ViewBag.lv1 == "لوازم-شخصی" || ViewBag.lv1 == "سرگرمی-و-فراغت" || ViewBag.lv1 == "کسب-و-کار")
    {
        <!-- --------شروع لوازم خانگی و لوازم شخصی و سرگرمی و فراغت و کسب و کار -  تمام سر تیتر ها و جزئیات ها-------- -->

        <div class="row">


            <div class="col-md-6">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio"  value="0"  name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio"  value="1" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio"  value="2" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select  id="Kind-TotalPrice" data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input id="Untill-TotalPrice"  class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input id="From-TotalPrice"  class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchPersonalEntertainment" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان لوازم خانگی  و لوازم شخصی و سرگرمی و فراغت و کسب و کار -  تمام سر تیتر ها و جزئیات ها-------- -->

    }



}