
@*---------مشترک برای همه-------*@
<div class="row">
    <div class="col-md-8 search-col">
        <button class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
    </div>
    <div class="col-md-2">
        <div class="row margin-top-20">
            <div class="col-md-6">
                <div class="cntr">
                    <div class="row ">
                        <input type="checkbox" id="checked" class="cbx hidden" />
                        <label for="checked" class="lbl"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-align-left">
                <span>ویژه</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row margin-top-20">
            <div class="col-md-6">
                <div class="cntr">
                    <div class="row ">
                        <input type="checkbox" id="unchecked" class="cbx hidden" />
                        <label for="unchecked" class="lbl"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-align-left">
                <span> عکس دار</span>
            </div>
        </div>
    </div>
</div>
@*---------مشترک برای همه-------*@