<!-- --------شروع وسایل نقلیه-------- -->


@{
    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "خودرو" || ViewBag.lv2 == "موتورسیکلت و لوازم جانبی")
    {
        <!-- --------شروع خودرو  +و+ موتورسیکلت و لوازم جانبی-------- -->

        <div class="row">


            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان خودرو  +و+ موتورسیکلت و لوازم جانبی-------- -->
    }



}






@{

    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "قطعات-یدکی-و-لوازم-جانبی-خودرو" || ViewBag.lv2 == "قایق-و-لوازم-جانبی")
    {
        <!-- --------شروع قطعات یدکی و لوازم جانبی خودرو  +و+  قایق و لوازم جانبی-------- -->

        <div class="row">


            <div class="col-md-6">
            </div>


            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان قطعات یدکی و لوازم جانبی خودرو  +و+  قایق و لوازم جانبی-------- -->
    }


}



@{


    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "خودرو" && ViewBag.lv3 == "سواری")
    {
        <!-- --------شروع - خودرو - سواری-------- -->

        <div class="row">
            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>اقساط ماهانه</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>برند</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">

                            <div class="btn-group hierarchy-select" data-resize="auto" id="example-one">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="selected-label pull-left">&nbsp;</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu open">
                                    <div class="hs-searchbox">
                                        <input type="text" class="form-control" autocomplete="off">
                                    </div>
                                    <ul class="dropdown-menu inner" role="menu">
                                        <li data-value="" data-level="1" data-default-selected="">
                                            <a href="#">برند</a>
                                        </li>
                                        <li data-value="1" data-level="1">
                                            <a href="#">سایپا</a>
                                        </li>
                                        <li data-value="2" data-level="2">
                                            <a href="#">پراید</a>
                                        </li>
                                        <li data-value="3" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="17" data-level="1">
                                            <a href="#">کیا</a>
                                        </li>
                                        <li data-value="18" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="19" data-level="2">
                                            <a href="#">اپتیما</a>
                                        </li>
                                    </ul>
                                </div>
                                <input class="hidden hidden-field" name="example_one" readonly="readonly" aria-hidden="true" type="text" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg btnchoose float-left">نمایش با جزئیات بیشتر</button>
            </div>
            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>






            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="row">


            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="کارکرده" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">کارکرده</option>
                            <option value="1">صفر</option>
                            <option value="1">کارتکس</option>
                            <option value="1">حواله</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="سواری" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">سدان</option>
                            <option value="1">سواری</option>
                            <option value="1">وانت</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">شاسی</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="تک" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">تک</option>
                            <option value="1">دو</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">دیفرانسیل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="قرمز" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">رنگ بدنه</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row ">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="قرمز" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">رنگ داخل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="ندارد" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">تیپ 5</option>
                            <option value="1">تیپ 2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">مدل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="دستی" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">اتومات</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">گیربکس</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="بنزین" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">نوع سوخت</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder=" بدون رنگ" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">بدون رنگ</option>
                            <option value="1">یک لکه رنگ</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت بدنه</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="پلاک ملی" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">گذر موقت</option>
                            <option value="1">پلاک دولتی</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">موارد خاص</label>
                </div>
            </div>
            <div class="row form-group additional">
                <div class="col-sm-11 checkbox">

                    <div class="md-checkbox col-calc-6">
                        <input id="i2" type="checkbox">
                        <label for="i2">سانروف</label>
                    </div>
                    <div class="md-checkbox col-calc-6">
                        <input id="i3" type="checkbox">
                        <label for="i3">دزدگیر</label>
                    </div>
                    <div class="md-checkbox col-calc-6">
                        <input id="i3" type="checkbox">
                        <label for="i3">سیستم صوتی</label>
                    </div>
                </div>
                <label class="col-sm-1 label-title">سایر</label>
            </div>



        </div>
        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان - خودرو - سواری-------- -->

    }
}




@{

    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "خودرو" && ViewBag.lv3 == "سنگین")
    {


        <!-- --------شروع - خودرو - سنگین-------- -->

        <div class="row">
            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>اقساط ماهانه</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>برند</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">

                            <div class="btn-group hierarchy-select" data-resize="auto" id="example-one">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="selected-label pull-left">&nbsp;</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu open">
                                    <div class="hs-searchbox">
                                        <input type="text" class="form-control" autocomplete="off">
                                    </div>
                                    <ul class="dropdown-menu inner" role="menu">
                                        <li data-value="" data-level="1" data-default-selected="">
                                            <a href="#">برند</a>
                                        </li>
                                        <li data-value="1" data-level="1">
                                            <a href="#">سایپا</a>
                                        </li>
                                        <li data-value="2" data-level="2">
                                            <a href="#">پراید</a>
                                        </li>
                                        <li data-value="3" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="17" data-level="1">
                                            <a href="#">کیا</a>
                                        </li>
                                        <li data-value="18" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="19" data-level="2">
                                            <a href="#">اپتیما</a>
                                        </li>
                                    </ul>
                                </div>
                                <input class="hidden hidden-field" name="example_one" readonly="readonly" aria-hidden="true" type="text" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg btnchoose float-left">نمایش با جزئیات بیشتر</button>
            </div>
            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>






            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="row">


            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="کارکرده" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">کارکرده</option>
                            <option value="1">صفر</option>
                            <option value="1">کارتکس</option>
                            <option value="1">حواله</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="سواری" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">سدان</option>
                            <option value="1">سواری</option>
                            <option value="1">وانت</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">شاسی</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="تک" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">تک</option>
                            <option value="1">دو</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">دیفرانسیل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="قرمز" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">رنگ بدنه</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row ">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="قرمز" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">رنگ داخل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="ندارد" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">تیپ 5</option>
                            <option value="1">تیپ 2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">مدل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="دستی" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">اتومات</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">گیربکس</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="بنزین" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">نوع سوخت</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder=" بدون رنگ" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">بدون رنگ</option>
                            <option value="1">یک لکه رنگ</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت بدنه</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="پلاک ملی" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">گذر موقت</option>
                            <option value="1">پلاک دولتی</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">موارد خاص</label>
                </div>
            </div>
            <div class="row form-group additional">
                <div class="col-sm-11 checkbox">

                    <div class="md-checkbox col-calc-6">
                        <input id="i2" type="checkbox">
                        <label for="i2">سانروف</label>
                    </div>
                    <div class="md-checkbox col-calc-6">
                        <input id="i3" type="checkbox">
                        <label for="i3">دزدگیر</label>
                    </div>
                    <div class="md-checkbox col-calc-6">
                        <input id="i3" type="checkbox">
                        <label for="i3">سیستم صوتی</label>
                    </div>
                </div>
                <label class="col-sm-1 label-title">سایر</label>
            </div>



        </div>
        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان - خودرو - سنگین-------- -->


    }


}




@{




    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "قطعات-یدکی-و-لوازم-جانبی-خودرو")
    {

        <!-- --------شروع - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها-------- -->

        <div class="row">


            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان  - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها-------- -->


    }

}






@{


    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "موتورسیکلت-و-لوازم-جانبی")
    {
        <!-- --------شروع - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها و قایل و لوازم جانبی و لوازم جانبی موتور سیکلت-------- -->

        <div class="row">

            <div class="col-md-6"></div>
            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>

        

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                    <!-- --------پایان - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها و قایل و لوازم جانبی و لوازم جانبی موتور سیکلت-------- -->





              <!-- --------شروع - موتور سیکلت و لوازم جانبی - موتور سیکلت-------- -->


        <div class="row">

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>اقساط ماهانه</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>




            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="انتخاب کنید" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="2">1396</option>
                                <option value="3">1395</option>
                                <option value="3">1394</option>
                                <option value="3">1393</option>
                                <option value="3">قبل از 1392</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>برند</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">

                            <div class="btn-group hierarchy-select" data-resize="auto" id="example-one">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="selected-label pull-left">&nbsp;</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu open">
                                    <div class="hs-searchbox">
                                        <input type="text" class="form-control" autocomplete="off">
                                    </div>
                                    <ul class="dropdown-menu inner" role="menu">
                                        <li data-value="" data-level="1" data-default-selected="">
                                            <a href="#">برند</a>
                                        </li>
                                        <li data-value="1" data-level="1">
                                            <a href="#">سایپا</a>
                                        </li>
                                        <li data-value="2" data-level="2">
                                            <a href="#">پراید</a>
                                        </li>
                                        <li data-value="3" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="17" data-level="1">
                                            <a href="#">کیا</a>
                                        </li>
                                        <li data-value="18" data-level="2">
                                            <a href="#">سراتو</a>
                                        </li>
                                        <li data-value="19" data-level="2">
                                            <a href="#">اپتیما</a>
                                        </li>
                                    </ul>
                                </div>
                                <input class="hidden hidden-field" name="example_one" readonly="readonly" aria-hidden="true" type="text" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg btnchoose float-left">نمایش با جزئیات بیشتر</button>
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row">


            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="کارکرده" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">کارکرده</option>
                            <option value="1">صفر</option>
                            <option value="1">کارتکس</option>
                            <option value="1">حواله</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="قرمز" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">رنگ بدنه</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="ندارد" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">تیپ 5</option>
                            <option value="1">تیپ 2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">مدل</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="بنزین" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5 یا بیشتر</option>
                        </select>
                    </div>
                    <label class="col-sm-6 label-title">نوع سوخت</label>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder=" بدون رنگ" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">بدون رنگ</option>
                            <option value="1">یک لکه رنگ</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">وضعیت بدنه</label>
                </div>
            </div>

            <div class="col-md-3 no-padding">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <select data-placeholder="پلاک ملی" class="select width-100Per" tabindex="1">
                            <option value=""></option>
                            <option value="1">گذر موقت</option>
                            <option value="1">پلاک دولتی</option>
                        </select>

                    </div>
                    <label class="col-sm-6 label-title">موارد خاص</label>
                </div>
            </div>
            <div class="row form-group additional">
                <div class="col-sm-11 checkbox">

                    <div class="md-checkbox col-calc-6">
                        <input id="i3" type="checkbox">
                        <label for="i3">دزدگیر</label>
                    </div>
                </div>
                <label class="col-sm-1 label-title">سایر</label>
            </div>



        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>

              <!-- --------پایان - موتور سیکلت و لوازم جانبی - موتور سیکلت-------- -->

    }





}


@{

    if (ViewBag.lv1 == "وسایل-نقلیه" && ViewBag.lv2 == "قایق-و-لوازم-جانبی")
    {
        <!-- --------شروع  - قایق و لوازم جانبی - تمام زیر مجموعه ها-------- -->

        <div class="row">


            <div class="col-md-6">
            </div>


            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-All" type="radio" name="Kind" checked>
                        <label for="Kind-All">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Sell" type="radio" name="Kind">
                        <label for="Kind-Sell">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Need" type="radio" name="Kind">
                        <label for="Kind-Need">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="Kind-Rent" type="radio" name="Kind">
                        <label for="Kind-Rent">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <select data-placeholder="مقطوع - تومان" class="select width-100" tabindex="1">
                                <option value=""></option>
                                <option value="1">مقطوع - تومان</option>
                                <option value="1">مجانی</option>
                                <option value="1">توافقی</option>
                                <option value="1">جهت معاوضه</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-8 search-col">
                <button id="SearchAllAgahi" class="btn btn-common btn-search btn-block search-btn"><strong>جستجو</strong></button>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasFast" class="cbx hidden" />
                                <label for="HasFast" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>فوری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <div class="cntr">
                            <div class="row ">
                                <input type="checkbox" id="HasImage" class="cbx hidden" />
                                <label for="HasImage" class="lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-align-left">
                        <span>عکس دار</span>
                    </div>
                </div>
            </div>
        </div>
                <!-- --------پایان  - قایق و لوازم جانبی - تمام زیر مجموعه ها-------- -->
    }



}





<!-- --------پایان وسایل نقلیه-------- -->