
@*--------شروع وسایل نقلیه--------*@


@{
    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "خودرو" || ViewBag.Leve2 == "موتورسیکلت و لوازم جانبی")
    {
        @*--------شروع خودرو  +و+ موتورسیکلت و لوازم جانبی--------*@

        <div class="row">


            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

                    @*--------پایان خودرو  +و+ موتورسیکلت و لوازم جانبی--------*@
    }



}






@{

    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "قطعات-یدکی-و-لوازم-جانبی-خودرو" || ViewBag.Leve2 == "قایق-و-لوازم-جانبی")
    {
        @*--------شروع قطعات یدکی و لوازم جانبی خودرو  +و+  قایق و لوازم جانبی--------*@

        <div class="row">


            <div class="col-md-3">
            </div>





            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

                    @*--------پایان قطعات یدکی و لوازم جانبی خودرو  +و+  قایق و لوازم جانبی--------*@
    }


}



@{


    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "خودرو" && ViewBag.Leve3 == "سواری")
    {
        @*--------شروع - خودرو - سواری--------*@

        <div class="row">




            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>برند</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">بنز</option>
                                        <option class="" value="3">پراید</option>
                                        <option class="" value="3">بی ام دبلیو</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <div class="field-container radio-field">
                                <label>نوع</label>
                                <div class="md-radio md-radio-inline">
                                    <input id="4" type="radio" name="g3" checked>
                                    <label for="4">فرقی نمی کند</label>
                                </div>
                                <div class="md-radio md-radio-inline">
                                    <input id="5" type="radio" name="g3" checked>
                                    <label for="5">فروشی</label>
                                </div>
                                <div class="md-radio md-radio-inline">
                                    <input id="6" type="radio" name="g3">
                                    <label for="6">درخواستی</label>
                                </div>
                                <div class="md-radio md-radio-inline">
                                    <input id="7" type="radio" name="g3">
                                    <label for="7">اجاره ای</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*--------پایان - خودرو - سواری--------*@

    }
}




@{

    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "خودرو" && ViewBag.Leve3 == "سنگین")
    {


        @*--------شروع - خودرو - سنگین--------*@

        <div class="row">




            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>


            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>


        </div>

                    @*--------پایان - خودرو - سنگین--------*@


    }


}




@{




    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "قطعات-یدکی-و-لوازم-جانبی-خودرو")
    {

        @*--------شروع - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها--------*@

        <div class="row">


            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>
                    @*--------پایان  - قطعات یدکی و لوازم جانبی خودرو - تمام زیر مجموعه ها--------*@


    }

}






@{


    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "موتورسیکلت-و-لوازم-جانبی")
    {
        @*--------شروع - موتورسیکلت و لوازم جانبی - تمام زیر مجموعه ها--------*@

        <div class="row">


            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>سال</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <label>تا</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">انتخاب کنید</option>
                                        <option class="" value="2">1396</option>
                                        <option class="" value="3">1395</option>
                                        <option class="" value="3">1394</option>
                                        <option class="" value="3">1393</option>
                                        <option class="" value="3">قبل از 1392</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>کارکرد (کیلومتر)</label>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>

                    @*--------پایان - موتورسیکلت و لوازم جانبی - تمام زیر مجموعه ها--------*@
    }





}


@{

    if (ViewBag.Leve1 == "وسایل-نقلیه" && ViewBag.Leve2 == "قایق-و-لوازم-جانبی")
    {
        @*--------شروع  - قایق و لوازم جانبی - تمام زیر مجموعه ها--------*@

        <div class="row">


            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="field-container radio-field">
                    <label>نوع</label>
                    <div class="md-radio md-radio-inline">
                        <input id="4" type="radio" name="g3" checked>
                        <label for="4">فرقی نمی کند</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="5" type="radio" name="g3" checked>
                        <label for="5">فروشی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="6" type="radio" name="g3">
                        <label for="6">درخواستی</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="7" type="radio" name="g3">
                        <label for="7">اجاره ای</label>
                    </div>
                </div>
            </div>



            <div class="col-md-3">

                <div class="field-container int-field">
                    <label>قیمت</label>
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="input-group-addon search-category-container width-100">
                                <label class="styled-select Price-select">
                                    <select class="dropdown-product selectpicker" name="product-cat">
                                        <option class="" value="1">مقطوع - تومان</option>
                                        <option class="" value="2">مجانی</option>
                                        <option class="" value="3">توافقی</option>
                                        <option class="" value="3">جهت معاوضه</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="تا" type="text">
                        </div>
                        <div class="col-md-6 no-padding">
                            <input class="form-control keyword numbertxt" name="keyword" value="" placeholder="از" type="text">
                        </div>
                    </div>
                </div>

            </div>

        </div>
                @*--------پایان  - قایق و لوازم جانبی - تمام زیر مجموعه ها--------*@
    }



}





@*--------پایان وسایل نقلیه--------*@