@using IGN.Models;
@{
    ViewBag.Title = "آگهی های من";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/animate.min.css" rel="stylesheet" />
}

<div class="main-top">

    <div class="row">
        <div class="col-md-12">
            <div class="widget card topstyle">

                <div class="widget-content">

                    <div class="row">

                        <div class="col-md-12 ">

                            <div class="widget widget-news card">


                                <main class="maintabs">

                                    <input id="tab1" type="radio" class="display-none" name="tabs" checked>
                                    <label class="lbltabs" for="tab1">آگهی های من</label>

                                    <input id="tab2" type="radio" class="display-none" name="tabs">
                                    <label class="lbltabs" for="tab2">آگهی های نشان شده</label>

                                    <input id="tab3" type="radio" class="display-none" name="tabs">
                                    <label class="lbltabs" for="tab3">بازدید های اخیر</label>


                                    <section class="sectiontabs" id="content1">



                                        <div class="padding-top-15">

                                            <div id="products" class="row list-group">

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513255937/KBG-Lxgp4.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259442/HJq6-SwqG.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259433/A-X__aXtg.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259429/N2jUczseg.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259418/8V0MbkcIR.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259402/CgjQHoDXf.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>






                                            </div>
                                        </div>


                                    </section>

                                    <section class="sectiontabs" id="content2">



                                        <div class="padding-top-15">

                                            <div id="products" class="row list-group">

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513255937/KBG-Lxgp4.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>



                                            </div>
                                        </div>


                                    </section>

                                    <section class="sectiontabs" id="content3">


                                        <div class="padding-top-15">

                                            <div id="products" class="row list-group">

                                                <div class="item  col-xs-2 col-lg-2 ">
                                                    <a  href="/Agahi/جزئیات-آگهی"  class="thumbnail card-3">
                                                        <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513255937/KBG-Lxgp4.jpg" alt="" />
                                                        <div class="caption">
                                                            <h1 class="group inner list-group-item-heading titletopstyle">
                                                                لامبورگینی اونتادور
                                                            </h1>
                                                            <span class="group inner list-group-item-text">
                                                                بسیار تمیز بدون رنگ 8000 کیلومتر
                                                            </span>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-8 no-padding">
                                                                    <h3 class="lead font-size-10 text-align-left no-margin">
                                                                        800 میلیون تومان
                                                                    </h3>
                                                                </div>
                                                                <div class="col-xs-12 col-md-4 no-padding">
                                                                    <h2 class="lead font-size-12 no-margin">
                                                                        قیمت
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>



                                            </div>
                                        </div>



                                    </section>



                                </main>



                            </div>

                        </div>





                    </div>











                </div>
            </div>
        </div>
    </div>





</div>






@section Script
    {








}