

@{
    ViewBag.Title = "ثبت آگهی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
}

<div class="main-top">

    <div class="row">
        <div class="col-md-12">
            <div class="widget card topstyle">
                <div class="widget-content">
                    <div class="padding-top-15">






                        <section id="main" class="clearfix ad-details-page">
                            <div class="adpost-details">
                                <div class="row">


                                    <div class="col-md-3">

                                    </div>

                                    <div class="col-md-6">
                                        <div class="section thumbnail select-category post-option">
                                            <h4>دسته بندی خود را انتخاب کنید</h4>
                                            <ul role="tablist">
                                                <li class="">
                                                    <a href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab" aria-expanded="false">

                                                        املاک
                                                    </a>
                                                </li>

                                                <li class="link-active active">
                                                    <a href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab" aria-expanded="true">

                                                        وسایل نقلیه
                                                    </a>
                                                </li>

                                                <li class="">
                                                    <a href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab" aria-expanded="false">

                                                        لوازم الکترونیکی
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>


                                    <div class="col-md-3">

                                    </div>


                                </div>

                            </div>
                        </section>




                        <section id="main" class="clearfix ad-details-page">
                            <div class="adpost-details">
                                <div class="row">


                                    <div class="col-md-3">

                                    </div>

                                    <div class="col-md-6">
                                        <div class="section thumbnail select-category post-option">
                                            <h4> زیر دسته بندی خود را انتخاب کنید</h4>

                                            <a href=""><i class="fa fa-arrow-right nofa" ></i><span class="padding-right-15"> | وسایل نقلیه</span></a> 
                                                 

                                        
                                            <ul role="tablist" class="margin-top-15">
                                                <li class="">
                                                    <a href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab" aria-expanded="false">

                                                        خودرو
                                                    </a>
                                                </li>

                                                <li class="link-active active">
                                                    <a href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab" aria-expanded="true">

                                                        قطعات یدکی و لوازم جانبی خودرو
                                                    </a>
                                                </li>

                                                <li class="">
                                                    <a href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab" aria-expanded="false">

                                                        موتورسیکلت و لوازم جانبی
                                                    </a>
                                                </li>

                                                <li class="">
                                                    <a href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab" aria-expanded="false">

                                                        قایق و لوازم جانبی
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>


                                    <div class="col-md-3">

                                    </div>


                                </div>

                            </div>
                        </section>


                        <section id="main" class="clearfix ad-details-page">
                            <div class="adpost-details">
                                <div class="row">


                                    <div class="col-md-3">

                                    </div>

                                    <div class="col-md-6">
                                        <div class="section thumbnail select-category post-option">
                                            <h4>دسته بندی نهایی خود را انتخاب کنید</h4>

                                            <a href=""><i class="fa fa-arrow-right nofa"></i><span class="padding-right-15"> | خودرو</span></a>



                                            <ul role="tablist" class="margin-top-15">
                                                <li class="">
                                                    <a href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab" aria-expanded="false">

                                                        سواری
                                                    </a>
                                                </li>

                                                <li class="link-active active">
                                                    <a href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab" aria-expanded="true">

                                                        سنگین
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>


                                    <div class="col-md-3">

                                    </div>


                                </div>

                            </div>
                        </section>




                        <!-- main -->
                        <section id="main" class="clearfix ad-details-page">
                            <div class="adpost-details">
                                <div class="row">





                                    <div class="col-md-4">
                                        <div class="section quick-rules thumbnail border-radius-15">
                                            <h4>عکس آگهی</h4>

                                            <div class="row form-group add-image">
                                                <div class="col-sm-9">
                                                    <h5><i class="fa fa-upload" aria-hidden="true"></i>عکس خود را انتخاب کنید<span>شما میتوانید چند تصویر ارسال کنید</span></h5>
                                                    <div class="upload-section dir-ltr">
                                                        <label class="upload-image" for="upload-image-one">
                                                            <input type="file" id="upload-image-one">
                                                        </label>

                                                        <label class="upload-image" for="upload-image-two">
                                                            <input type="file" id="upload-image-two">
                                                        </label>
                                                        <label class="upload-image" for="upload-image-three">
                                                            <input type="file" id="upload-image-three">
                                                        </label>

                                                        <label class="upload-image" for="upload-imagefour">
                                                            <input type="file" id="upload-imagefour">
                                                        </label>
                                                    </div>
                                                </div>
                                                <label class="col-sm-3 label-title">تصاویر آگهی</label>
                                            </div>


                                        </div>

                                        <div class="section quick-rules thumbnail border-radius-15">
                                            <h4>جزئیات آگهی</h4>


                                            <div class="row form-group brand-name">
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" placeholder="سونی">
                                                </div>
                                                <label class="col-sm-3 label-title">برند<span class="required">*</span></label>
                                            </div>
                                            <div class="row form-group additional">
                                                <div class="col-sm-9">
                                                    <div class="checkbox dir-ltr">
                                                        <label for="camera"><input type="checkbox" name="camera" id="camera">Dual Camera</label>
                                                        <label for="dual-sim"><input type="checkbox" name="dual-sim" id="dual-sim">Dual SIM</label>
                                                        <label for="3g"><input type="checkbox" name="3g" id="3g">4G</label>
                                                        <label for="screen"><input type="checkbox" name="screen" id="screen">مالتی تاچ</label>
                                                    </div>
                                                </div>
                                                <label class="col-sm-3 label-title">سایر<span class="required">*</span></label>
                                            </div>

                                            <div class="row form-group model-name">
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="model" placeholder="اکسپریا z">
                                                </div>
                                                <label class="col-sm-3 label-title">مدل</label>
                                            </div>


                                        </div>
                                    </div>




                                    <div class="col-md-8">
                                        <form action="#">
                                            <div class="section postdetails thumbnail border-radius-15">
                                                <h4>جزئیات آگهی<span class="pull-left float-left">* فیلد های اجباری</span></h4>

                                                <div class="row form-group">
                                                    <div class="col-sm-9 user-type">
                                                        <button type="button" class="btn btn-info btn-lg btnchoose" data-toggle="modal" data-target="#myModal">انتخاب گروه آگهی</button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="myModal" role="dialog">
                                                            <div class="modal-dialog whitebg">

                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">انتخاب گروه بندی</h4>
                                                                        <h5>املاک>فروش املک مسکونی</h5>
                                                                    </div>
                                                                    <div class="modal-body choose">
                                                                        <ul>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">املاک</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">وسایل نقلیه</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">لوازم الکترونیکی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">لوازم خانگی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">خدمات</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">لوازم شخصی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">سرگرمی و فراغت</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">اجتماعی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">کسب و کار</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">استخدام</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="modal-body choose">
                                                                        <ul>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">آپارتمان</span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">خانه و ویلا</span>
                                                                            </li>
                                                                            <li class="li-cat">
                                                                                <span class="vertical-align-sub">زمین و کلنگی</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <label class="col-sm-3">گروه بندی<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-sm-9 user-type">
                                                        <input type="radio" name="sellType" value="newsell" id="newsell"> <label for="newsell">خریدار</label>
                                                        <input type="radio" name="sellType" value="newbuy" id="newbuy"> <label for="newbuy">فروشنده</label>
                                                    </div>
                                                    <label class="col-sm-3">نوع آگهی<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group add-title">
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="text" placeholder="گوشی اپل مدل 8Plus بدون خط و خش">
                                                    </div>
                                                    <label class="col-sm-3 label-title">عنوان آگهی<span class="required">*</span></label>
                                                </div>

                                                <div class="row form-group select-condition">
                                                    <div class="col-sm-9">
                                                        <input type="radio" name="itemCon" value="new" id="new">
                                                        <label for="new">نو</label>
                                                        <input type="radio" name="itemCon" value="used" id="used">
                                                        <label for="used">کارکرده</label>
                                                    </div>
                                                    <label class="col-sm-3">وضعیت<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group select-price">
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <label>هزار تومان</label>
                                                                <input type="radio" name="price" value="negotiable" id="negotiable">
                                                                <label for="negotiable">توافقی </label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="text1">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <label class="col-sm-3 label-title">قیمت<span class="required">*</span></label>
                                                </div>


                                                <div class="row form-group item-description">
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="textarea" placeholder="توضیحات کالای مربوطه" rows="8"></textarea>
                                                    </div>
                                                    <label class="col-sm-3 label-title">توضیحات<span class="required">*</span></label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-9 col-sm-offset-3">
                                                        <p>١٥٠ حرف</p>
                                                    </div>
                                                </div>


                                            </div><!-- section -->

                                        </form><!-- form -->
                                    </div>




                                </div>



                                <div class="row">





                                    <div class="col-md-4">

                                        <div class="section thumbnail border-radius-15">
                                            <h4>انتخاب نوع آگهی</h4>
                                            <p>جهت کسب اطلاعات بیشتر میتوانید<a href="#">تعرفه ها</a> را مطالعه نمایید.</p>
                                            <ul class="premium-options">
                                                <li class="premium">
                                                    <input type="radio" name="premiumOption" value="day-one" id="day-one">
                                                    <label for="day-one">آگهی روزانه</label>
                                                    <span class="float-price float-left">رایگان</span>
                                                </li>
                                                <li class="premium">
                                                    <input type="radio" name="premiumOption" value="day-two" id="day-two">
                                                    <label for="day-two">آگهی خاص</label>
                                                    <span class="float-price float-left">1 هزار تومان</span>
                                                </li>
                                                <li class="premium">
                                                    <input type="radio" name="premiumOption" value="day-three" id="day-three">
                                                    <label for="day-three">آگهی همراه با تبلیغ در اخبار</label>
                                                    <span class="float-price float-left">5 هزار تومان</span>
                                                </li>
                                                <li class="premium">
                                                    <input type="radio" name="premiumOption" value="day-four" id="day-four">
                                                    <label for="day-four">آگهی همراه با تبلیغ در اخبار مرتبط</label>
                                                    <span class="float-price float-left">10 هزار تومان</span>
                                                </li>
                                            </ul>
                                        </div><!-- section -->


                                        <div class="checkbox section agreement accept thumbnail border-radius-15">
                                            <label for="send">
                                                <input type="checkbox" name="send" id="send">
                                                تمام<a href="#">قوانین</a> و <a href="#">مقررات</a> را خوانده ام و قبول دارم
                                            </label>
                                            <button type="submit" class="btn btn-primary float-left">ارسال آگهی</button>
                                        </div><!-- section -->


                                    </div>




                                    <div class="col-md-8">
                                        <form action="#">


                                            <div class="section seller-info thumbnail border-radius-15">
                                                <h4>اطلاعات فروشنده</h4>
                                                <div class="row form-group">
                                                    <div class="col-sm-9">
                                                        <input type="text" name="name" class="form-control" placeholder="احمد شهباز">
                                                    </div>
                                                    <label class="col-sm-3 label-title">نام آگهی دهنده<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-sm-9 dir-ltr">
                                                        <input type="email" name="email" class="form-control" placeholder="hamshahri@gmail.com">
                                                    </div>
                                                    <label class="col-sm-3 label-title">آدرس ایمیل<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-sm-9 dir-ltr">
                                                        <input type="text" name="mobileNumber" class="form-control" placeholder="٠٩١٢٣٤٣٤٦٧٨">
                                                    </div>
                                                    <label class="col-sm-3 label-title">تلفن همراه<span class="required">*</span></label>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-sm-9">
                                                        <input type="text" name="address" class="form-control" placeholder="تهران، میدان ولیعصر...">
                                                    </div>
                                                    <label class="col-sm-3 label-title">آدرس</label>
                                                </div>
                                            </div><!-- section -->


                                        </form><!-- form -->
                                    </div>




                                </div>




                            </div>
                        </section><!-- main -->





                    </div>
                </div>
            </div>
        </div>
    </div>


</div>






@section Script
    {



    <script>





        $(document).ready(function () {




        });




    </script>





}