@using IGN.Models;
@{
    ViewBag.Title = "جزئیات آگهی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{
    <link href="~/css/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/main.css">

    <link rel="stylesheet" href="~/css/slidr.css">

    <link href="~/css/leaflet.css" rel="stylesheet" />
}




<div class="description-info">
    <div class="row">
        <div class="col-md-5">
            <div class="description">


                <div class="row margin-bottom-20">
                    <div class="col-md-6 contact-with text-align-center">
                        <a href="#" class="btn">گفتگو در تلگرام</a>
                    </div>
                    <div class="col-md-6 contact-with  text-align-center">
                        <span class="btn btn-red show-number">
                            <span class="hide-text">نمایش تلفن</span>
                            <span class="hide-number">٠٩١٢٧٧٧٣٤٥٦</span>
                        </span>
                    </div>
                </div>

                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#product-carousel" data-slide-to="0" class="active">
                            <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="1">
                            <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="2">
                            <img src="https://s100.divarcdn.com/the-wall/no-picture.c9f1ee9b846c411a25c058f2cf8ca101.png" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="3">
                            <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Carousel Thumb" class="img-responsive">
                        </li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- item -->
                        <div class="item active">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://s100.divarcdn.com/the-wall/no-picture.c9f1ee9b846c411a25c058f2cf8ca101.png" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                    </div><!-- carousel-inner -->
                    <!-- Controls -->
                    <a class="left carousel-control" href="#product-carousel" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#product-carousel" role="button" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>


        <div class="col-md-7">
            <div class="short-info">


                <div class="c-corner-label margin-right-15">
                    <div class="c-corner-label__text">فوری</div>
                </div>


                <div class="slider-text">
                    <h1 class="TitleDetail">گوشی اپل 8Plus بدون خط و خش</h1>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="text-align-left">٩٥٠٬٠٠٠ هزار تومان</h4>
                        </div>
                        <div class="col-md-4 no-padding">
                            <span class="icon"><i class="fa fa-clock-o SocialFa"></i><a href="#">4 ساعت قبل</a></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-align-right">املاک &gt;&gt; فروش املاک مسکونی &gt;&gt; آپارتمان </p>
                        </div>
                        <div class="col-md-2 no-padding">
                            <b>دسته بندی: </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-align-right">درخواستی</p>
                        </div>
                        <div class="col-md-2 no-padding">
                            <b>نوع آگهی: </b>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-align-right">تهرانپارس</p>
                        </div>
                        <div class="col-md-2 no-padding">
                            <b>محله: </b>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-align-right">08:00 - 17:00</p>
                        </div>
                        <div class="col-md-2 no-padding">
                            <b>ساعات تماس: </b>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 contact-with no-padding text-align-left">
                            <a href="#" class="btn btndetailtopmap"><i class="fa fa-exclamation-triangle detailinofa"></i>گزارش آگهی</a>
                        </div>
                        <div class="col-md-3 contact-with  no-padding text-align-left">
                            <a href="#" class="btn btndetailtopmap"><i class="fa fa-heart-o detailinofa"></i>نشان کردن</a>
                        </div>
                        <div class="col-md-4 social-links">
                            <ul class="list-inline text-align-right">
                                <li><a href="#"><i class="fa fa-facebook-square SocialFa"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square SocialFa"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square SocialFa"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square SocialFa"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr-square SocialFa"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 no-padding">
                            <b>اشتراک گذاری: </b>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <div class="mapcreatepage " id="map"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="description-info">
    <div class="row">
        <div class="col-md-12">
            <div class="description height-auto">
                



                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">نیست</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>حومه شهر: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">شخصی</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>نوع آگهی دهنده: </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">2</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>تعداد اتاق: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">50 متر</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>متراژ: </b>
                            </div>
                        </div>
                    </div>

                </div>











                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2 ">
                        <b>توضیحات: </b>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="card topstyle ">
                            <p class="PDescription text-align-right">‌‌ بدون خط و خش تخفیف مصرف</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>




<div class="description-info">
    <div class="row">
        <div class="col-md-12">
            <div class="description height-auto">




                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">1365</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>سال ساخت: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">3</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>طبقه: </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">سنگ</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>جنس کف: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">بخاری</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>گرمایش: </b>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">20 تومان</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>مبلغ وام: </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">200 متر</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <b>زیربنا: </b>
                            </div>
                        </div>
                    </div>

                </div>





                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2 ">
                        <b>سایر: </b>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 ">
                       
                        <div class="row additional">
                            <div class="col-md-12 checkbox ">

                                <div class="md-checkbox col-calc-7">
                                    <input id="HasParking" type="checkbox" disabled="disabled" >
                                    <label for="HasParking">پارکینگ</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasElevator" type="checkbox" disabled="disabled" >
                                    <label for="HasElevator">آسانسور</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasIranianService" type="checkbox" disabled="disabled" >
                                    <label for="HasIranianService">سرویس ایرانی</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasForeignService" type="checkbox" disabled="disabled" >
                                    <label for="HasForeignService">سرویس خارجی</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasBalcony" type="checkbox" disabled="disabled" >
                                    <label for="HasBalcony">بالکن</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasPool" type="checkbox" disabled="disabled" >
                                    <label for="HasPool">استخر</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasUnderground" type="checkbox" disabled="disabled" >
                                    <label for="HasUnderground">زیرزمین</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasYard" type="checkbox" disabled="disabled" >
                                    <label for="HasYard">حیاط</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasSauna" type="checkbox" disabled="disabled" >
                                    <label for="HasSauna">سونا</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasJacuzzi" type="checkbox" disabled="disabled" >
                                    <label for="HasJacuzzi">جکوزی</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasSleepMaster" type="checkbox" disabled="disabled" >
                                    <label for="HasSleepMaster">خواب مستر</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasRoofGarden" type="checkbox" disabled="disabled" >
                                    <label for="HasRoofGarden">روف گاردن</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasChiller" type="checkbox" disabled="disabled" >
                                    <label for="HasChiller">چیلر</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasBarbecue" type="checkbox" disabled="disabled" >
                                    <label for="HasBarbecue">باربکیو</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasAltar" type="checkbox" disabled="disabled" >
                                    <label for="HasAltar">آلاچیق</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasLobby" type="checkbox" disabled="disabled" >
                                    <label for="HasLobby">لابی</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasBabyPlayground" type="checkbox" disabled="disabled" >
                                    <label for="HasBabyPlayground">محوطه بازی کودک</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasGym" type="checkbox" disabled="disabled" >
                                    <label for="HasGym">سالن بدنسازی</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasHeir" type="checkbox" disabled="disabled" >
                                    <label for="HasHeir">ورثه ای</label>
                                </div>
                                <div class="md-checkbox col-calc-7">
                                    <input id="HasSingleDocument" type="checkbox" disabled="disabled" >
                                    <label for="HasSingleDocument">سند تک برگ</label>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>







            </div>
        </div>


    </div>
</div>



<div class="main-top">


    <div class="row">
        <div class="col-md-12">
            <div class="widget card topstyle">

                <div class="widget-content">


                    <div class="padding-top-15">


                        <div id="products" class="row list-group">





                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/1.jpg" alt="" />
                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/2.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/3.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/4.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/5.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/6.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/7.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/8.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/9.jpg" alt="" />

                                        </div>



                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/10.jpg" alt="" />

                                        </div>



                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/11.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/12.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>




                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>





</div>






@section Script
    {

    <script src="~/js/bootstrap-select.min.js"></script>




    <script src="~/js/leaflet.js"></script>


    <script>


        $(document).ready(function () {

            var map = L.map('map').setView([35.71, 51.40], 15);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([35.75, 51.43]).addTo(map)
                .bindPopup('پراید<br> مدل 95')
                .openPopup();

            L.marker([35.71, 51.40]).addTo(map)
                .bindPopup('خودرو بنز<br> مدل 94')
                .openPopup();

            L.marker([35.65, 51.35]).addTo(map)
                .bindPopup('پراید<br> مدل 95')
                .openPopup();





        });

    </script>








}