@using IGN.Models;
@{
    ViewBag.Title = "جزئیات آگهی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{
    <link href="~/css/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/main.css">

    <link rel="stylesheet" href="~/css/slidr.css">
}




<div class="description-info">
    <div class="row">       
        <div class="col-md-5">
            <div class="description">
               
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#product-carousel" data-slide-to="0" class="active">
                            <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="1">
                            <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="2">
                            <img src="https://static.swappa.com/static/images/categories/prime/category_prime_iphones_square.jpg" alt="Carousel Thumb" class="img-responsive">
                        </li>
                        <li data-target="#product-carousel" data-slide-to="3">
                            <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Carousel Thumb" class="img-responsive">
                        </li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- item -->
                        <div class="item active">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://static.swappa.com/static/images/categories/prime/category_prime_iphones_square.jpg" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                        <!-- item -->
                        <div class="item">
                            <div class="carousel-image">
                                <!-- image-wrapper -->
                                <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Featured Image" class="img-responsive">
                            </div>
                        </div><!-- item -->
                    </div><!-- carousel-inner -->
                    <!-- Controls -->
                    <a class="left carousel-control" href="#product-carousel" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#product-carousel" role="button" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
       

        <div class="col-md-7">
            <div class="short-info">
                <div class="slider-text">
                    <h1 class="TitleDetail">گوشی اپل 8Plus بدون خط و خش</h1>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="text-align-left">٩٥٠٬٠٠٠ هزار تومان</h4>
                        </div>
                        <div class="col-md-4 no-padding">
                            <span class="icon"><i class="fa fa-clock-o SocialFa"></i><a href="#">4 ساعت قبل</a></span>
                        </div>
                    </div>


                    <div class="row margin-bottom-20">
                        <div class="col-md-6 contact-with text-align-center">
                            <a href="#" class="btn">گفتگو در تلگرام</a>
                        </div>
                        <div class="col-md-6 contact-with  text-align-center">
                            <span class="btn btn-red show-number">
                                <span class="hide-text">نمایش تلفن</span>
                                <span class="hide-number">٠٩١٢٧٧٧٣٤٥٦</span>
                            </span>
                        </div>

                    </div>



                        <h4>چکیده اطلاعات</h4>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">املاک &gt;&gt; فروش املاک مسکونی &gt;&gt; آپارتمان </p>
                            </div>
                            <div class="col-md-3">
                                <b>دسته بندی: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">درخواستی</p>
                            </div>
                            <div class="col-md-3">
                                <b>نوع آگهی: </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">تهرانپارس</p>
                            </div>
                            <div class="col-md-3">
                                <b>محله: </b>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <p class="text-align-right">08:00 - 17:00</p>
                            </div>
                            <div class="col-md-3">
                                <b>ساعات تماس: </b>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-9 social-links">
                                <ul class="list-inline text-align-left">
                                    <li><a href="#"><i class="fa fa-facebook-square SocialFa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square SocialFa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square SocialFa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square SocialFa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square SocialFa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr-square SocialFa"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <b>اشتراک گذاری: </b>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-align-right">بدون واسطه با مالک توستان ٦و کوچه پایینی نیلگون،٢بر</p>
                        </div>
                        <div class="col-md-3">
                            <b>jmqdphj: </b>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


<div class="section slider">
    <div class="row">
        <!-- carousel -->
        <div class="col-md-7 dir-ltr">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#product-carousel" data-slide-to="0" class="active">
                        <img src="https://static.swappa.com/static/images/categories/prime/category_prime_iphones_square.jpg" alt="Carousel Thumb" class="img-responsive">
                    </li>
                    <li data-target="#product-carousel" data-slide-to="1">
                        <img src="https://www.bhphotovideo.com/images/images2500x2500/zte_a7g331_axon_7_64gb_smartphone_1257204.jpg" alt="Carousel Thumb" class="img-responsive">
                    </li>
                    <li data-target="#product-carousel" data-slide-to="2">
                        <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Carousel Thumb" class="img-responsive">
                    </li>
                    <li data-target="#product-carousel" data-slide-to="3">
                        <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Carousel Thumb" class="img-responsive">
                    </li>
                    <li data-target="#product-carousel" data-slide-to="4">
                        <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Carousel Thumb" class="img-responsive">
                    </li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- item -->
                    <div class="item active">
                        <div class="carousel-image">
                            <!-- image-wrapper -->
                            <img src="https://static.swappa.com/static/images/categories/prime/category_prime_iphones_square.jpg" alt="Featured Image" class="img-responsive">
                        </div>
                    </div><!-- item -->
                    <!-- item -->
                    <div class="item">
                        <div class="carousel-image">
                            <!-- image-wrapper -->
                            <img src="https://www.bhphotovideo.com/images/images2500x2500/zte_a7g331_axon_7_64gb_smartphone_1257204.jpg" alt="Featured Image" class="img-responsive">
                        </div>
                    </div><!-- item -->
                    <!-- item -->
                    <div class="item">
                        <div class="carousel-image">
                            <!-- image-wrapper -->
                            <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3063398-inline-i-1-why-ill-never-buy-another-iphone.jpg" alt="Featured Image" class="img-responsive">
                        </div>
                    </div><!-- item -->
                    <!-- item -->
                    <div class="item">
                        <div class="carousel-image">
                            <!-- image-wrapper -->
                            <img src="https://www.phonedog.com/sites/phonedog.com/files/styles/blog_entry/public/blog/main_image/2017/11/essentialphonereview.jpg?itok=8jt7LfJu" alt="Featured Image" class="img-responsive">
                        </div>
                    </div><!-- item -->
                    <!-- item -->
                    <div class="item">
                        <div class="carousel-image">
                            <!-- image-wrapper -->
                            <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_brw/public/article_images/2017/03/galaxy-s8-s8-plus-together-6.jpg?itok=90qY8yYi" alt="Featured Image" class="img-responsive">
                        </div>
                    </div><!-- item -->
                </div><!-- carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" href="#product-carousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="right carousel-control" href="#product-carousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="slider-text">
                <h1 class="TitleDetail">گوشی اپل 8Plus بدون خط و خش</h1>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="text-align-left">٩٥٠٬٠٠٠ هزار تومان</h4>
                    </div>
                    <div class="col-md-4 no-padding">
                        <span class="icon"><i class="fa fa-clock-o SocialFa"></i><a href="#">4 ساعت قبل</a></span>
                    </div>
                </div>
                

                <div class="row margin-bottom-20">
                    <div class="col-md-6 contact-with text-align-center">
                        <a href="#" class="btn">گفتگو در تلگرام</a>
                    </div>
                    <div class="col-md-6 contact-with  text-align-center">
                        <span class="btn btn-red show-number">
                            <span class="hide-text">نمایش تلفن</span>
                            <span class="hide-number">٠٩١٢٧٧٧٣٤٥٦</span>
                        </span>
                    </div>

                </div>



                <div class="short-info">
                    <h4>چکیده اطلاعات</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-align-right">املاک &gt;&gt; فروش املاک مسکونی &gt;&gt; آپارتمان </p>
                        </div>
                        <div class="col-md-3">
                            <b>دسته بندی: </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-align-right">درخواستی</p>
                        </div>
                        <div class="col-md-3">
                            <b>نوع آگهی: </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-align-right">تهرانپارس</p>
                        </div>
                        <div class="col-md-3">
                            <b>محله: </b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-align-right">08:00 - 17:00</p>
                        </div>
                        <div class="col-md-3">
                            <b>ساعات تماس: </b>
                        </div>
                    </div>




                </div>


                <div class="row">
                    <div class="col-md-9 social-links">
                        <ul class="list-inline text-align-left">
                            <li><a href="#"><i class="fa fa-facebook-square SocialFa"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square SocialFa"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square SocialFa"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square SocialFa"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square SocialFa"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr-square SocialFa"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <b>اشتراک گذاری: </b>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="description-info">
    <div class="row">
        <!-- description -->
        <div class="col-md-8">
            <div class="description">
                <h4>توضیحات</h4>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p><br>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری ایجاد کرد.</p>
            </div>
        </div><!-- description -->
        <!-- description-short-info -->
        <div class="col-md-4">
            <div class="short-info">
                <h4>سایر اطلاعات</h4>
                <!-- social-icon -->
                <ul>
                    <li><i class="fa fa-shopping-cart"></i><a href="#">ذخیره در سبد اطلاعات</a></li>
                    <li><i class="fa fa-user-plus"></i><a href="#">دیگر آگهی های<span>احمد شهباز</span></a></li>
                    <li><i class="fa fa-print"></i><a href="#">پرینت آگهی</a></li>
                    <li><i class="fa fa-reply"></i><a href="#">ارسال به دوستان</a></li>
                    <li><i class="fa fa-heart-o"></i><a href="#">ذخیره در علاقه مندی ها</a></li>
                    <li><i class="fa fa-exclamation-triangle"></i><a href="#">گزارش این آگهی</a></li>
                </ul><!-- social-icon -->
            </div>
        </div>
    </div><!-- row -->
</div><!-- description-info -->


<div class="main-top">


    <div class="row">
        <div class="col-md-12">
            <div class="widget card topstyle">

                <div class="widget-content">


                    <div class="padding-top-15">


                        <div id="products" class="row list-group">





                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/1.jpg" alt="" />
                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/2.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/3.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/4.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/5.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/6.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/7.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/8.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/9.jpg" alt="" />

                                        </div>



                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/10.jpg" alt="" />

                                        </div>



                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/11.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="item  col-xs-3 col-lg-3 ">
                                <a href="/Agahi/جزئیات-آگهی" class="thumbnail card-3">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 no-padding">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-phone-square  btn-thumb btn-tooltip  btn-static" data-toggle="tooltip" data-placement="right" title="نمایش شماره تماس" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-share-alt-square   btn-thumb btn-tooltip btn-static" data-toggle="tooltip" data-placement="right" title="به اشتراک گذاری" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-gratipay  btn-thumb btn-tooltip btn-heart" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" data-container="body"></button>

                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                                    <button type="button" class="btn fa fa-telegram btn-thumb btn-tooltip btn-telegram" data-toggle="tooltip" data-placement="right" title="چت تلگرام" data-container="body"></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-clock-o  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="ساعات قادر به پاسخگویی" data-container="body">07:00-21:00</button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-align-right no-padding">

                                                    <button type="button" class="btn fa fa-map-marker  btn-thumb btn-tooltip btn-static-big" data-toggle="tooltip" data-placement="right" title="محله" data-container="body">تهرانپارس</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 no-padding">
                                            <img class="group list-group-image fixedimage" src="~/images/ads/12.jpg" alt="" />

                                        </div>


                                    </div>
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            تولید و ساخت انواع سایبان و قطعات
                                        </h1>
                                        <div class="row padding-top-8">
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800,000,000 تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                                                <i class="fa fa-usd nofa" aria-hidden="true"></i>
                                                <span class="margin-right-5">قیمت</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>




                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>





</div>






@section Script
    {

    <script src="~/js/bootstrap-select.min.js"></script>





}