
@{
    ViewBag.Title = "جستجو_آگهی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/mainselect.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/slidr.css">
}



<!-- Start Search box -->

<div class="row search-bar margin-bottom-20">
    <div class="advanced-search">
        <form class="search-form" method="get">
            <div class="row">


                <div class="col-md-3 col-sm-6 search-col">
                    <button class="btn btn-common btn-search btn-block"><strong>جستجو</strong></button>
                </div>


                <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                        <label class="styled-select location-select">
                            <select class="dropdown-product selectpicker" name="product-cat">
                                <option class="" value="New York">تجریش</option>
                                <option class="" value="0">همه مناطق</option>
                                <option class="" value="California">میدان ولیعصر</option>
                                <option class="" value="Washington">ونک</option>
                                <option class="" value="churches">جنت آباد</option>
                                <option class="" value="Birmingham">تهرانپارس</option>
                                <option class="" value="Phoenix">پاسداران</option>
                                <option class="" value="0">همه مناطق</option>
                                <option class="" value="eam">میدان امام </option>
                                <option class="" value="0">همه مناطق</option>
                                <option class="" value="koh">کوه سنگی</option>
                                <option class="" value="0">همه مناطق</option>
                                <option class="" value="bagh">باغ میشه</option>




                            </select>
                        </label>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 search-col">
                    <span class=" user-type">
                        <button type="button" class="btn btn-info btn-lg btnchoose" data-toggle="modal" data-target="#myModal">انتخاب گروه آگهی</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog whitebg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">انتخاب گروه بندی</h4>
                                        <h5>املاک>فروش املک مسکونی</h5>
                                    </div>
                                    <div class="modal-body choose">
                                        <ul>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">املاک</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">وسایل نقلیه</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">لوازم الکترونیکی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">لوازم خانگی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">خدمات</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">لوازم شخصی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">سرگرمی و فراغت</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">اجتماعی</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">کسب و کار</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">استخدام</span><span class="fa fa-arrow-circle-left float-left fa-cat-style"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-body choose">
                                        <ul>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">آپارتمان</span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">خانه و ویلا</span>
                                            </li>
                                            <li class="li-cat">
                                                <span class="vertical-align-sub">زمین و کلنگی</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </span>
                    @*<div class="input-group-addon search-category-container">
                    <label class="styled-select">
                        <select class="dropdown-product selectpicker" name="product-cat">
                            <option value="0">همه دسته بندی ها</option>
                            <option class="subitem" value="community"> خودرو</option>
                            <option value="items-for-sale"> املاک</option>
                            <option value="jobs"> استخدام</option>
                            <option value="personals"> حمل و نقل</option>
                            <option value="training"> خدمات</option>
                            <option value="real_estate"> ورزش</option>
                            <option value="services"> کامپیوتر و اینترنت</option>
                            <option value="vehicles"> چاپ و تبلیغات</option>
                        </select>
                    </label>
                </div>*@
                </div>


                <div class="col-md-3 col-sm-6 search-col">
                    <input class="form-control keyword" name="keyword" value="" placeholder="متن جستجو" type="text">
                    <i class="fa fa-search"></i>
                </div>
            </div>


            <div class="row">
                <h5>جزئیات بیشتر</h5>
                <div></div>
            </div>








        </form>
    </div>
</div>




<div class="main-top">












    <div class="row">
        <div class="col-md-12">
            <div class="widget card topstyle">

                <div class="widget-content">


                    <div class="padding-top-15">

                        <div id="products" class="row list-group">


                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513255937/KBG-Lxgp4.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259442/HJq6-SwqG.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259433/A-X__aXtg.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259429/N2jUczseg.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259418/8V0MbkcIR.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259402/CgjQHoDXf.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259391/Mdq_wiZTh.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/the-wall/no-picture-thumbnail.9cc0622468342d154e11dda9b7533407.png" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259360/jQ0p15_qM.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259355/Ufp0h-9W8.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259353/zieEe22zv.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259345/dazhyi_Ae.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259429/N2jUczseg.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259418/8V0MbkcIR.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259402/CgjQHoDXf.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259391/Mdq_wiZTh.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/the-wall/no-picture-thumbnail.9cc0622468342d154e11dda9b7533407.png" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-2 col-lg-2 ">
                                <div class="thumbnail card-3">
                                    <img class="group list-group-image fixedimage" src="https://s100.divarcdn.com/static/thumbnails/1513259360/jQ0p15_qM.jpg" alt="" />
                                    <div class="caption">
                                        <h1 class="group inner list-group-item-heading titletopstyle">
                                            لامبورگینی اونتادور
                                        </h1>
                                        <span class="group inner list-group-item-text">
                                            بسیار تمیز بدون رنگ 8000 کیلومتر
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 no-padding">
                                                <h3 class="lead font-size-10 text-align-left no-margin">
                                                    800 میلیون تومان
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 col-md-4 no-padding">
                                                <h2 class="lead font-size-12 no-margin">
                                                    قیمت
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>





</div>






@section Script
    {



    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/mainselect.js"></script>







}