
/*--------jquerysctipttop--------------*/

#jquery-script-menu {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jquery-script-center {
    width: 960px;
    margin: 0 auto;
}

    .jquery-script-center ul {
        width: 212px;
        float: left;
        line-height: 45px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jquery-script-center a {
        text-decoration: none;
    }

.jquery-script-ads {
    width: 728px;
    height: 90px;
    float: right;
}

.jquery-script-clear {
    clear: both;
    height: 0;
}
/*--------End jquerysctipttop--------------*/




/*------------------------Slider---------------------*/


@charset "UTF-8";

.slider, .slider .slider-img {
    overflow: hidden;
    height: 150px
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    direction: rtl;
    font-family: 'IRANSans','sans-serif','Arial';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1, p {
    color: #777;
    text-align: center
}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 48px;
}

.slider {
    width: 400px;
    margin: 0 auto;
    position: relative
}

    .slider:hover .slider-btn {
        color: #fff;
        text-shadow: 0 0 5px #666
    }

    .slider .slider-img {
        width: 6500px;
        position: relative
    }

        .slider .slider-img .slider-img-ul {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden
        }

            .slider .slider-img .slider-img-ul li {
                float: left
            }

                .slider .slider-img .slider-img-ul li img {
                    width: 200px;
                    height: 150px
                }

    .slider .slider-dot ul {
        position: absolute;
        right: 280px;
        bottom: -5px
    }

        .slider .slider-dot ul li {
            cursor: pointer;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
            border: 2px solid #fff;
            float: left;
            margin-left: 10px
        }

            .slider .slider-dot ul li.active, .slider .slider-dot ul li:hover {
                background: #fff
            }

    .slider .slider-btn {
        position: absolute;
        width: 50px;
        height: 100px;
        top: 50%;
        line-height: 100px;
        text-align: center;
        color: #fff;
        font-size: 28px;
        text-decoration: none;
        color: rgba(255,255,255,0)
    }

        .slider .slider-btn:hover {
            background: rgba(125,125,125,.3)
        }

        .slider .slider-btn.slider-btn-left {
            left: 0;
            margin-top: -50px
        }

        .slider .slider-btn.slider-btn-right {
            right: 0;
            margin-top: -50px
        }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.boxin-right {
    float: right;
    padding-right: 3px;
}


.txt-slider {
    width: 200px;
    height: 150px
}













.fa {
    color: #525252;
}

.no-padding {
    padding: 0px !important;
}


.titleNews {
    font-size: 10px !important;
    margin: 0px;
    float: right;
    padding-right: 3px;
}

.SourceNews {
    font-size: 9px !important;
    padding-left: 10px;
    text-align: left
}

.HomeBoxes {
    color: #26A69A !important;
    position: inherit !important;
    display: table-cell !important;
    width: 0px !important;
    height: 0px !important;
    text-align: center !important;
    font-size: 15px !important;
}

.dir-ltr {
    direction: ltr
}

.width-auto {
    width: auto !important;
}

.background-white {
    background: white;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.link-box {
    float: right;
    padding-bottom: 10px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-11 {
    font-size: 11px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-bottom-20 {
    margin-bottom: 20px
}










.trendprofilesico {
    width: auto !important;
    height: auto !important;
    top: 1px !important;
    margin-right: 25px !important;
}
.padding-bottom-5{
    padding-bottom: 5px;
}

.sendbtn {
    text-align: -webkit-left;
    text-align: left;
    padding: 10px;
}


.oddtbllink {
    background-color: #F5F5F5;
    border-left-style: solid;
    border-left-width: 1;
    border-right-style: solid;
    border-right-width: 1;
    border-top-style: solid;
    border-top-width: 1;
}

.eventbllink {
    background-color: #FFFFFF;
}

.tblhelpadd {
    border: 3px double #BCCAE2;
    border-collapse: collapse;
    background-color: #F5F5F5;
}


.padding-friends {
    padding: 0 50px 0 50px;
}



.zindex1000 {
z-index:1000;
}