
/*--------jquerysctipttop--------------*/

#jquery-script-menu {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jquery-script-center {
    width: 960px;
    margin: 0 auto;
}

    .jquery-script-center ul {
        width: 212px;
        float: left;
        line-height: 45px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jquery-script-center a {
        text-decoration: none;
    }

.jquery-script-ads {
    width: 728px;
    height: 90px;
    float: right;
}

.jquery-script-clear {
    clear: both;
    height: 0;
}
/*--------End jquerysctipttop--------------*/


/*--------Slider Middle--------------*/

ul {
    list-style-type: none;
}


.cxslide_x {
    overflow: hidden;
    position: relative;
    width: 375px;
    height: 220px;
    border: 1px solid #777;
}

    .cxslide_x a {
        color: #eee;
        text-decoration: none;
    }

    .cxslide_x .box {
        overflow: hidden;
        position: relative;
        width: 375px;
        height: 220px;
    }

    .cxslide_x .list {
        overflow: hidden;
        width: 9999px;
    }

        .cxslide_x .list li {
            float: left;
            position: relative;
            width: 375px;
        }

        .cxslide_x .list img {
            vertical-align: top;
        }

        .cxslide_x .list p {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 24px;
            color: #eee;
            font: 12px/24px arial;
            text-indent: 12px;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000',endColorstr='#99000000');
            background: rgba(0,0,0,0.6);
        }

    .cxslide_x .btn {
        overflow: hidden;
        position: absolute;
        bottom: 4px;
        right: 6px;
    }

        .cxslide_x .btn li {
            float: left;
            width: 16px;
            height: 16px;
            margin: 0 0 0 10px;
            border-radius: 2px;
            background: #eee;
            color: #333;
            font: 11px/16px Tahoma;
            text-align: center;
            cursor: pointer;
        }

            .cxslide_x .btn li.selected {
                background: #f30;
                color: #fff;
            }

    .cxslide_x .minus,
    .cxslide_x .plus {
        position: absolute;
        top: 85px;
        width: 40px;
        height: 50px;
        background-image: url(../img/control.png);
        background-repeat: no-repeat;
        text-align: center;
        cursor: pointer;
    }

    .cxslide_x .minus {
        left: 0;
        background-position: 0 0;
    }

    .cxslide_x .plus {
        right: 0;
        background-position: -40px 0;
    }

    .cxslide_x .minus:hover {
        background-position: 0 -50px;
    }

    .cxslide_x .plus:hover {
        background-position: -40px -50px;
    }



/**
 * 焦点图 CSS 动画
 * ------------------------------ */
.cxslide_anime {
    overflow: hidden;
    position: relative;
    height: 580px;
    font-family: '\5fae\8f6f\96c5\9ed1';
}

    .cxslide_anime a {
        color: #eee;
        text-decoration: none;
    }

    .cxslide_anime .box,
    .cxslide_anime .list {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }

        .cxslide_anime .list li {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

            .cxslide_anime .list li h3,
            .cxslide_anime .list li p,
            .cxslide_anime .list li .tag {
                position: absolute;
                left: 0;
                width: 100%;
                color: rgba(255,255,255,0.6);
                font-size: 14px;
                text-align: center;
            }

            .cxslide_anime .list li h3 {
                color: #fff;
                font-size: 48px;
                line-height: 1;
            }

            .cxslide_anime .list li:nth-child(1) {
                background-image: url(../img/_pic/anime/1-bg.jpg);
            }

            .cxslide_anime .list li:nth-child(2) {
                background-image: url(../img/_pic/anime/2-bg.jpg);
            }

            .cxslide_anime .list li:nth-child(3) {
                background-image: url(../img/_pic/anime/3-bg.jpg);
            }

            .cxslide_anime .list li:nth-child(1) h2 {
                position: absolute;
                top: 50px;
                left: 50%;
                width: 235px;
                height: 219px;
                margin-left: -118px;
                background: url(../img/_pic/anime/1-logo.png) no-repeat;
            }

            .cxslide_anime .list li:nth-child(1) h3 {
                top: 210px;
            }

            .cxslide_anime .list li:nth-child(1) p {
                top: 290px;
            }

            .cxslide_anime .list li:nth-child(1) .tag {
                top: 380px;
            }

                .cxslide_anime .list li:nth-child(1) .tag em {
                    position: relative;
                    font: 24px/1 arial;
                }

                    .cxslide_anime .list li:nth-child(1) .tag em + em {
                        margin-left: 20px;
                        padding-left: 20px;
                    }

                        .cxslide_anime .list li:nth-child(1) .tag em + em:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 4px;
                            height: 4px;
                            margin: -2px 0 0 -2px;
                            background-color: rgba(255,255,255,0.6);
                            border-radius: 50%;
                        }

            .cxslide_anime .list li:nth-child(2) h3 {
                top: 40px;
            }

            .cxslide_anime .list li:nth-child(2) p {
                top: 100px;
            }

            .cxslide_anime .list li:nth-child(2) .mac {
                position: absolute;
                top: 150px;
                left: 50%;
                width: 386px;
                height: 317px;
                margin-left: -193px;
                background: url(../img/_pic/anime/2-mac.png) no-repeat;
            }

            .cxslide_anime .list li:nth-child(2) .pad {
                position: absolute;
                top: 280px;
                left: 50%;
                width: 143px;
                height: 186px;
                margin-left: 122px;
                background: url(../img/_pic/anime/2-pad.png) no-repeat;
            }

            .cxslide_anime .list li:nth-child(2) .phone {
                position: absolute;
                top: 337px;
                left: 50%;
                width: 64px;
                height: 129px;
                margin-left: -225px;
                background: url(../img/_pic/anime/2-phone.png) no-repeat;
            }

            .cxslide_anime .list li:nth-child(3) h3 {
                top: 40px;
            }

            .cxslide_anime .list li:nth-child(3) p {
                top: 100px;
            }

            .cxslide_anime .list li:nth-child(3) .case {
                position: absolute;
                top: 150px;
                left: 50%;
                width: 806px;
                height: 293px;
                margin-left: -403px;
                background: url(../img/_pic/anime/3-case.png) no-repeat;
            }

/* 内容切换 */
@-webkit-keyframes AnimeSlideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes AnimeSlideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes AnimeSlideOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes AnimeSlideOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cxslide_anime .list li.in {
    z-index: 2;
    -webkit-animation-name: AnimeSlideIn;
    animation-name: AnimeSlideIn;
}

.cxslide_anime .list li.out {
    -webkit-animation-name: AnimeSlideOut;
    animation-name: AnimeSlideOut;
}

/* 第一屏进入 */
.cxslide_anime .list li:nth-child(1).in h2 {
    opacity: 0;
    -webkit-animation: fadeInLeft 0.6s 0.8s;
    animation: fadeInLeft 0.6s 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).in h3 {
    opacity: 0;
    -webkit-animation: fadeInUp 0.4s 1.3s;
    animation: fadeInUp 0.4s 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).in p {
    opacity: 0;
    -webkit-animation: fadeInUp 0.4s 1.4s;
    animation: fadeInUp 0.4s 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).in .tag {
    opacity: 0;
    -webkit-animation: fadeInUp 0.4s 1.5s;
    animation: fadeInUp 0.4s 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 第一屏离开 */
.cxslide_anime .list li:nth-child(1).out h2 {
    opacity: 1;
    -webkit-animation: fadeOutLeft 0.2s;
    animation: fadeOutLeft 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).out h3 {
    opacity: 1;
    -webkit-animation: fadeOutDown 0.2s;
    animation: fadeOutDown 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).out p {
    opacity: 1;
    -webkit-animation: fadeOutDown 0.2s;
    animation: fadeOutDown 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(1).out .tag {
    opacity: 1;
    -webkit-animation: fadeOutDown 0.2s;
    animation: fadeOutDown 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 第二屏进入 */
.cxslide_anime .list li:nth-child(2).in .mac {
    opacity: 0;
    -webkit-animation: fadeInUp 0.4s 0.6s;
    animation: fadeInUp 0.4s 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).in .phone {
    opacity: 0;
    -webkit-animation: fadeInLeft 0.4s 1s;
    animation: fadeInLeft 0.4s 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).in .pad {
    opacity: 0;
    -webkit-animation: fadeInLeft 0.4s 1.2s;
    animation: fadeInLeft 0.4s 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).in h3 {
    opacity: 0;
    -webkit-animation: fadeInRight 0.4s 1.4s;
    animation: fadeInRight 0.4s 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).in p {
    opacity: 0;
    -webkit-animation: fadeInRight 0.4s 1.4s;
    animation: fadeInRight 0.4s 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 第二屏离开 */
.cxslide_anime .list li:nth-child(2).out .mac {
    opacity: 1;
    -webkit-animation: fadeOutDown 0.2s;
    animation: fadeOutDown 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).out .phone {
    opacity: 1;
    -webkit-animation: fadeOutLeft 0.2s;
    animation: fadeOutLeft 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).out .pad {
    opacity: 1;
    -webkit-animation: fadeOutLeft 0.2s;
    animation: fadeOutLeft 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).out h3 {
    opacity: 1;
    -webkit-animation: fadeOutRight 0.2s;
    animation: fadeOutRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(2).out p {
    opacity: 1;
    -webkit-animation: fadeOutRight 0.2s;
    animation: fadeOutRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 第三屏进入 */
.cxslide_anime .list li:nth-child(3).in .case {
    opacity: 0;
    -webkit-animation: fadeInLeft 0.4s 0.6s;
    animation: fadeInLeft 0.4s 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(3).in h3 {
    opacity: 0;
    -webkit-animation: fadeInRight 0.4s 1s;
    animation: fadeInRight 0.4s 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(3).in p {
    opacity: 0;
    -webkit-animation: fadeInRight 0.4s 1s;
    animation: fadeInRight 0.4s 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 第三屏离开 */
.cxslide_anime .list li:nth-child(3).out .case {
    opacity: 1;
    -webkit-animation: fadeOutRight 0.2s;
    animation: fadeOutRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(3).out h3 {
    opacity: 1;
    -webkit-animation: fadeOutRight 0.2s;
    animation: fadeOutRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cxslide_anime .list li:nth-child(3).out p {
    opacity: 1;
    -webkit-animation: fadeOutRight 0.2s;
    animation: fadeOutRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* 按钮 */
.cxslide_anime .btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 5;
    cursor: pointer;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

    .cxslide_anime .btn li {
        float: left;
        overflow: hidden;
        width: 50px;
        height: 20px;
        margin-left: 10px;
        border-top: 2px solid rgba(255,255,255,0.6);
        border-radius: 1px;
        text-indent: 100%;
        white-space: nowrap;
        transition: border-color 0.5s;
    }

        .cxslide_anime .btn li:hover {
            border-top-color: rgba(255,255,255,0.8);
        }

        .cxslide_anime .btn li.selected {
            border-top-color: #0bf;
        }


#acts {
    margin-top: 20px;
}

    #acts .cxbtn_group {
        display: block;
    }

        #acts .cxbtn_group + .cxbtn_group {
            margin: 10px 0 0 0;
        }



.slider-size {
    width: 375px;
    height: 220px;
}
/*----------End Slider Middle--------------------*/


/*------------------------Slider---------------------*/


@charset "UTF-8";

.slider, .slider .slider-img {
    overflow: hidden;
    height: 150px
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    direction: rtl;
    font-family: 'IRANSans','sans-serif','Arial';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1, p {
    color: #777;
    text-align: center
}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 48px;
}

.slider {
    width: 400px;
    margin: 0 auto;
    position: relative
}

    .slider:hover .slider-btn {
        color: #fff;
        text-shadow: 0 0 5px #666
    }

    .slider .slider-img {
        width: 6500px;
        position: relative
    }

        .slider .slider-img .slider-img-ul {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden
        }

            .slider .slider-img .slider-img-ul li {
                float: left
            }

                .slider .slider-img .slider-img-ul li img {
                    width: 200px;
                    height: 150px
                }

    .slider .slider-dot ul {
        position: absolute;
        right: 280px;
        bottom: -5px
    }

        .slider .slider-dot ul li {
            cursor: pointer;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
            border: 2px solid #fff;
            float: left;
            margin-left: 10px
        }

            .slider .slider-dot ul li.active, .slider .slider-dot ul li:hover {
                background: #fff
            }

    .slider .slider-btn {
        position: absolute;
        width: 50px;
        height: 100px;
        top: 50%;
        line-height: 100px;
        text-align: center;
        color: #fff;
        font-size: 28px;
        text-decoration: none;
        color: rgba(255,255,255,0)
    }

        .slider .slider-btn:hover {
            background: rgba(125,125,125,.3)
        }

        .slider .slider-btn.slider-btn-left {
            left: 0;
            margin-top: -50px
        }

        .slider .slider-btn.slider-btn-right {
            right: 0;
            margin-top: -50px
        }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.boxin-right {
    float: right;
    padding-right: 3px;
}


.txt-slider {
    width: 200px;
    height: 150px
}













.fa {
    color: #525252;
}

.no-padding {
    padding: 0px !important;
}


.titleNews {
    font-size: 10px !important;
    margin: 0px;
    float: right;
    padding-right: 3px;
}

.SourceNews {
    font-size: 9px !important;
    padding-left: 10px;
    text-align: left
}

.HomeBoxes {
    color: #26A69A !important;
    position: inherit !important;
    display: table-cell !important;
    width: 0px !important;
    height: 0px !important;
    text-align: center !important;
    font-size: 15px !important;
}

.dir-ltr {
    direction: ltr
}

.width-auto {
    width: auto !important;
}

.background-white {
    background: white;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.link-box {
    float: right;
    padding-bottom: 10px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-11 {
    font-size: 11px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
