
@{
    ViewBag.Title = "BackLinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Head
{

}



<div class="row">
    <div class="col-md-2">
        
        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>





    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">
            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>جستجوی لینک</h2>
            <div class="widget-content">



                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="بهینه سازی" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>جستجو</span>

                    </div>
                </div>
                
                <div class="row margin-top-15">
                    <div class="col-md-9">


                        <form>
                            <div class="">
                                <select class="">
                                    <option value="All">همه</option>
                                    <option value="sport">ورزشی</option>
                                    <option value="politics">سیاسی</option>
                                    <option value="social">اجتماعی</option>
                                    <option value="option4">.</option>
                                    <option value="option5">1</option>
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-3">
                        <span>دسته بندی</span>

                    </div>
                </div>





                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-accent shadow subscriber-form-btn">تایید</button>

                    </div>
                </div>





            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>مشاهده لینک ها</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-2">

                        <button type="button" class="btn btn-accent shadow subscriber-form-btn">تایید</button>

                    </div>
                    <div class="col-md-3">


                        <form>
                            <div class="">
                                <select class="">
                                    <option value="">پرامتیازترین</option>
                                    <option value="">کم امتیاز ترین</option>
                                    <option value="">قدیمی ترین</option>
                                    <option value="">جدیدترین</option>
                                    <option value="">پر بازدیدترین</option>
                                    <option value="">کم بازدیدترین</option>
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-2">
                        <span>مرتب سازی براساس</span>

                    </div>
                    <div class="col-md-3">


                        <form>
                            <div class="">
                                <select class="">
                                    <option value="">همه دسته بندی ها</option>
                                    <option value="sport">ورزشی</option>
                                    <option value="politics">سیاسی</option>
                                    <option value="social">اجتماعی</option>
                                    <option value="option4">.</option>
                                    <option value="option5">1</option>
                                </select>
                            </div>
                        </form>


                    </div>
                    <div class="col-md-2">
                        <span>دسته بندی</span>

                    </div>
                </div>


                <div class="row margin-top-15">
                    <div class="col-md-7">

                        <span class="trendtitle">شرح فعالیت</span>
                    </div>
                    <div class="col-md-1">

                        <span class="trendtitle">امتیاز</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">دسته بندی</span>
                    </div>
                    <div class="col-md-2">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>

                <div class="row margin-top-15  ">
                    <div class="col-md-7">
                        <span>بهینه سازی وبسایت و طراحی سایت و بهینه سازی سئو سایت</span>
                    </div>
                    <div class="col-md-1">
                        <span><span class="fa fa-star width-auto" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-md-2">
                        <span>فناوری</span>
                    </div>
                    <div class="col-md-2">
                        <a href="http://greenoptimizer.com"><span>بهینه سازی وبسایت</span></a>
                    </div>
                </div>
               
                <div class="row margin-top-15  ">
                    <div class="col-md-7">
                        <span>بهینه سازی وبسایت و طراحی سایت و بهینه سازی سئو سایت</span>
                    </div>
                    <div class="col-md-1">
                        <span><span class="fa fa-star width-auto" aria-hidden="true"></span><span class="fa fa-star width-auto" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-md-2">
                        <span>فناوری</span>
                    </div>
                    <div class="col-md-2">
                        <a href="http://greenoptimizer.com"><span>بهینه سازی وبسایت</span></a>
                    </div>
                </div>


                <div class="row margin-top-15  padding-bottom-20 ">
                    <div class="col-md-7">
                        <span>بهینه سازی وبسایت و طراحی سایت و بهینه سازی سئو سایت</span>
                    </div>
                    <div class="col-md-1">
                        <span><span class="fa fa-star width-auto" aria-hidden="true"></span><span class="fa fa-star width-auto" aria-hidden="true"></span><span class="fa fa-star width-auto" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-md-2">
                        <span>فناوری</span>
                    </div>
                    <div class="col-md-2">
                        <a href="http://greenoptimizer.com"><span>بهینه سازی وبسایت</span></a>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>



@section Script
    {





}