
@{
    ViewBag.Title = "cat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{

    <link href="~/css/pagination.css" rel="stylesheet" />
    <link href="~/css/categories.css" rel="stylesheet" />
    <link href="~/css/chartist.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />


}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title" id="TitleTopNews"><span class="fa fa-rss pull-left"></span></h2>
            <div class="widget-content">
                <ul class="list-unstyled" id="Top10News"></ul>
            </div>
            <!-- widget content -->
        </div>


    </div>
</div>



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title" id="titleHeadTop50News"><span class="fa fa-rss pull-left"></span></h2>
            <div class="widget-content">
                <ul class="list-unstyled" id="Top50News"></ul>
            </div>
            <!-- widget content -->
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="align-center margin-bottom-20">

            <div class="example">
                <div>
                    <div id="altLists"></div>
                </div>
            </div>

        </div>



    </div>
</div>



@section Script
    {






    <script src="~/js/jquery.cxslide.min.js"></script>
    <script src="~/js/chartist.min.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.carousel-6.2.1.js"></script>
    <script src="~/js/tweetable.jquery.js"></script>
    <script src="~/js/jquery.timeago.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>


    <script src="~/js/pagination.js"></script>




    <script>
        $(document).ready(function () {

            Get50TopNews(1);
            BindCategoryName();
            GetTopNewsFromSelectedCategoryName();



            function BindCategoryName()
            {
                //$.get("http://192.168.1.10:13311/api/tblCategories/1-" + categoryid +"", function (data, status) {
                //});
                    $("#TitleTopNews").append("پربیننده ترین اخبار   @ViewBag.CategoryName  در 24 ساعت گذشته ");
                    $("#titleHeadTop50News").append("اخبار  @ViewBag.CategoryName ");

                    
            }


            

            function GetTopNewsFromSelectedCategoryName() {

                $.getJSON("http://192.168.1.10:13311/api/Categories/1-@ViewBag.CategoryName-$1", function (result) {

                    var allCategory = $.parseJSON(result);

                   
                    $.each(allCategory, function (i, item) {

                        var time = "10";



                        var splitTitle = item.Title.replace("+", " ").replace("?", " ").replace("*", " ").replace(";", " ").replace(",", " ").replace(".", " ").replace(":", " ").replace("؛", " ").replace("؟", " ").replace("»", " ").replace("«", " ").replace("!", " ").replace("(", " ").replace(")", " ").replace("{", " ").replace("}", " ").replace("[", " ").replace("]", " ").replace("/", " ").replace("-", " ");

                        var SeoUrl = splitTitle.split(" ");

                        var url = "";

                        for (var i = 0; i < SeoUrl.length; i++) {

                            if (url.length > 80) {
                                break;
                            } else {
                                url += SeoUrl[i] + '-';
                            }
                        }
                        var $liTopNews = "<li><div class=\"item clearfix\"><div class=\"row\"><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-up Like\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Likes + "+</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-down UnLike\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Unlike + "-</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-11\">" + time + " ساعت قبل</li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-12\">" + item.rssname + "</li></ul></div><div class=\"col-md-8 col-xs-8 col-sm-8  no-padding\"><div><div class=\"boxin-right\"><span class=\"fa fa-angle-double-left HomeBoxes\" aria-hidden=\"true\"></span></div><h1 class=\"titleNews\"><a href=\"/fa/News/Sport/" + item.NewsID + "/" + url + "\" target=\"_blank\">" + item.Title + "</a></h1></div></div></div></div></li>";
                         $("#Top10News").append($liTopNews);

                    });
                });
            };
            function Get50TopNews(number) {
                $("#Top50News").empty();
                var url = "http://192.168.1.10:13311/api/Categories/1-@ViewBag.CategoryName-";
                var page = number;
                var combindUrl = url + page;
                $.getJSON(combindUrl , function (result) {



                    var allCategory = $.parseJSON(result);


                    $.each(allCategory, function (i, item) {

                        var time = "14";

                        var splitTitle = item.Title.replace("+", " ").replace("?", " ").replace("*", " ").replace(";", " ").replace(",", " ").replace(".", " ").replace(":", " ").replace("؛", " ").replace("؟", " ").replace("»", " ").replace("«", " ").replace("!", " ").replace("(", " ").replace(")", " ").replace("{", " ").replace("}", " ").replace("[", " ").replace("]", " ").replace("/", " ").replace("-", " ");

                        var SeoUrl = splitTitle.split(" ");

                        var url = "";

                        for (var i = 0; i < SeoUrl.length; i++) {

                            if (url.length > 80) {
                                break;
                            } else {
                                url += SeoUrl[i] + '-';
                            }
                        }

                        var $liTopNews = "<li><div class=\"item clearfix\"><div class=\"row\"><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-up Like\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Likes + "+</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-down UnLike\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Unlike + "-</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-11\">" + time + " ساعت قبل</li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-12\">" + item.RssName + "</li></ul></div><div class=\"col-md-8 col-xs-8 col-sm-8  no-padding\"><div><div class=\"boxin-right\"><span class=\"fa fa-angle-double-left HomeBoxes\" aria-hidden=\"true\"></span></div><h1 class=\"titleNews\"><a href=\"/fa/News/Sport/" + item.NewsID + "/" + url + "\" target=\"_blank\" >" + item.Title + "</a></h1></div></div></div></div></li>";
                        $("#Top50News").append($liTopNews);
                    });
                });
            };

             var dataStore = (function () {
                 var xml;

                 $.ajax({
                     type: "GET",
                     url: "http://192.168.1.10:13311/api/Pageination/1-@ViewBag.CategoryName",

                     success: function (data) {

                         console.log("R: " + data);

                         $("#altLists").asPaginator(data
                             , {

                                 currentPage: data / 4,
                                 itemsPerPage: 50,
                                 visibleNum: 10,
                                 resizeThrottle: 250,

                                 tpl: function () {
                                     return '<ul>{{first}}{{prev}}{{altLists}}{{next}}{{last}}</ul>';
                                 },
                                 components: {
                                     first: true,
                                     prev: true,
                                     next: true,
                                     last: true,
                                     altLists: true
                                 },
                                 onChange: function (page) {
                                     //var url = '' + page;
                                     //console.log('ajax request' + url)
                                     //$.ajax({
                                     //    url: url,
                                     //    dataType: 'json',
                                     //    success: function (data) {
                                     //        alert(this.data)
                                     //    }
                                     //})
                                     
                                     Get50TopNews(page);
                                 }
                             });
                     }
                 });

                 return {
                     getXml: function () {
                         if (xml) return xml;
                         // else show some error that it isn't loaded yet;
                     }
                 };
             })();



        });
    </script>











    <script type="text/javascript">



        $(document).ready(function () {
            $('#cxslide_x').cxSlide({
                plus: true,
                minus: true
            });

            new Chartist.Line('.ct-chart', {
                labels: ['1', '5', '10', '15', '20', '25', '30'],
                series: [
                    [0, 20, 22, 0, 100, 23, 50]
                ]
            }, {
                    width: 350,
                    height: 250
                });
        });



    </script>


}