
@{
    ViewBag.Title = "MyFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{

}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <span>my default lang</span>
                <ul>
                    <li>
                        <a>Eng</a>
                    </li>
                    <li>
                        <a>Fa</a>
                    </li>
                    <li>
                        <a>Ar</a>
                    </li>
                </ul>
                <span>language</span>
                <ul>
                    <li>
                        <a>Eng</a>
                    </li>
                    <li>
                        <a>Fa</a>
                    </li>
                    <li>
                        <a>Ar</a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>دوستان من</h2>
            <div class="widget-content">


                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span>نام:</span>
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="داداشم محمد گل گلاب" />
                            </span>
                            <button type="button" class="btn btn-accent shadow subscriber-form-btn">جستجو</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-15">
                    <div class="col-md-12 text-align-center margin-bottom-20">

                            <table class="" cellspacing="0" cellpadding="2">
                                <tbody>
                                    <tr class="">
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/10363579_626072434150361_4094491022053858030_n.jpg?oh=73f0eb2ab6bc876afd128fdeb6e73519&amp;oe=5AADC99E" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="padding-4">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="font-size-10">محمد جلیلی</div>
                                                            <div class="font-size-10">متخصص سئو و نکش</div>
                                                        </div>
                                                        <div class="col-md-5">

                                                            <img class="border-radius-50 img" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-1/p100x100/11059193_829422640468990_6557358579434928698_n.jpg?oh=8a77e5d36323040b3fffc85ced458fb9&amp;oe=5A62E209" alt="" aria-label="ahmad sh" role="img">
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                      


                    </div>


                </div>

            </div>

        </div>


    </div>
</div>











@section Script
    {




}