
@{
    ViewBag.Title = "tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{

}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <span>my default lang</span>
                <ul>
                    <li>
                        <a>Eng</a>
                    </li>
                    <li>
                        <a>Fa</a>
                    </li>
                    <li>
                        <a>Ar</a>
                    </li>
                </ul>
                <span>language</span>
                <ul>
                    <li>
                        <a>Eng</a>
                    </li>
                    <li>
                        <a>Fa</a>
                    </li>
                    <li>
                        <a>Ar</a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">
            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>تنظیمات</h2>
            <div class="widget-content">


                <div class="row margin-top-15">
                    <div class="col-md-10">
                        <h1 class="text-align-right notranslate" title="احمد شهباز">احمد شهباز</h1>
                        <div class="margin-top-20">
                            <span>خوردَنگاه "رستوران" فرنگي سه گوش گريل تهرانپارس، فرجام شرقی، جنب زرین، پ ۱۲۲  دليوري و رزرو ۷۷۷۳۴۶۷۰ جهت اطلاع از منو و قیمت ها👇👇👇</span>
                        </div>
                        <div class="text-align-left margin-top-20">
                            <a class="" href="http://instagram.com/" rel="nofollow me noopener noreferrer" target="_blank">t.me/SegooshGrill_Bot</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle_profile circlepos_profile">
                            <img class="full_size" src="https://scontent-bom1-1.cdninstagram.com/t51.2885-19/s150x150/14515639_1057647507683045_7496754042371047424_a.jpg" alt="SEGOOSH GRILL | سه گوش گریل">
                        </div>
                    </div>
                </div>


                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="تغییر تصویر" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>تصویر:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">

                        <a id="LoginInfo" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#ChangePassModal"><i class="login-icon fa fa-user"></i>تغییر</a>






                    </div>
                    <div class="col-md-3">
                        <span>کلمه عبور:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="احمد شهباز" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>نام:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="m" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>نام کاربری:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="t.me/SegooshGrill_Bot" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>وبسایت:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="ash.shahbaz@gmail.com" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>ایمیل:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="09198121292" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>شماره تماس:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <form>
                            <div class="">
                                <select class="">
                                    <option value=""></option>
                                    <option value="man">آقا</option>
                                    <option value="woman">خانم</option>
                                </select>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-3">
                        <span>جنسیت:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="پرایویت" />
                            </span>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>وضعیت اکانت:</span>

                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-9">
                        <div class="form-group">
                            <textarea class="form-control">خوردَنگاه رستوران فرنگي سه گوش گريل تهرانپارس، فرجام شرقی، جنب زرین، پ ۱۲۲  دليوري و رزرو ۷۷۷۳۴۶۷۰ جهت اطلاع از منو و قیمت ها</textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span>بیوگرافی:</span>

                    </div>
                </div>



                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-accent shadow subscriber-form-btn">تایید</button>

                    </div>
                </div>





            </div>
        </div>

    </div>
</div>



    <!-- Change Pass Start -->
<div class="modal fade" id="ChangePassModal" tabindex="-1" role="dialog" aria-labelledby="ChangePass">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="ChangePass">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <div class="modal--logo">
                            <img src="img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text">

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="loginUsername" id="loginUsername">
                            <label class="mdl-textfield__label" for="loginUsername">کلمه عبور قبلی</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="loginPassword" id="loginPassword">
                            <label class="mdl-textfield__label" for="loginPassword">کلمه عبور جدید</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="loginPassword" id="loginPassword">
                            <label class="mdl-textfield__label" for="loginPassword">تکرار کلمه عبور جدید</label>
                        </div>

                        <button type="button" id="btnLogin" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">تایید</button>

                    </div>
                    <div class="mdl-card__actions mdl-card--border clearfix">
                        <a href="#" class="pull-left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#forgotFormModal" data-dismiss="modal">
                            رمز عبور خود را فراموش کرده اید؟
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change Pass End -->


@section Script
    {





}