
@{
    ViewBag.Title = "tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/css/SimpleChart.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" />

    <link href="~/css/categories.css" rel="stylesheet" />

    <link href="~/css/animate.min.css" rel="stylesheet" />


}



<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>لیست موضوعات خبری</h2>
            <div class="widget-content">

                <div class="row margin-top-15">
                    <div class="col-md-12">
                        <div class="search-box ">
                            <form class="clearfix subscribe-form__form" />
                            <span>تگ:</span>
                            <span class="form-group">
                                <input type="text" name="search-text" class="form-control empty input-style " onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="@ViewBag.TagName" />
                            </span>
                            <button type="button" class="btn btn-accent shadow subscriber-form-btn">جستجو</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iTec" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-desktop fa-lg"></i>
                            <label class="font-size-11"  for="iTec">فناوری</label>
                        </label>

                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iSci" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-medkit fa-lg"></i>
                            <label  class="font-size-11" for="iSci">علمی پزشکی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iJob" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-address-card-o fa-lg"></i>
                            <label  class="font-size-11" for="iJob">استخدام</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iPic" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-picture-o fa-lg"></i>
                            <label  class="font-size-11" for="iPic">تصویری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iSpo" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label  class="font-size-11" for="iSpo">ورزشی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iall" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-futbol-o fa-lg"></i>
                            <label class="font-size-11"  for="iall">همه</label>
                        </label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iFore" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-globe fa-lg"></i>
                            <label class="font-size-11"  for="iFore">بین المللی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iSoc" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-puzzle-piece fa-lg"></i>
                            <label class="font-size-11"  for="iSoc">اجتماعی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iMon" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-money fa-lg"></i>
                            <label class="font-size-11"  for="iMon">اقتصادی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iCol" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-book fa-lg"></i>
                            <label class="font-size-11"  for="iCol">فرهنگ و هنر</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iPol" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-bomb fa-lg"></i>
                            <label class="font-size-11"  for="iPol">سیاسی</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iAcc" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-ambulance fa-lg"></i>
                            <label  class="font-size-11" for="iAcc">حوادث</label>
                        </label>
                    </div>


                </div>

                <div class="row ">
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iChef" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-cutlery fa-lg"></i>
                            <label class="font-size-11"  for="iChef">آشپزی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iDow" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-download fa-lg"></i>
                            <label class="font-size-11"  for="iDow">دانلود</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iOth" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-outdent fa-lg"></i>
                            <label class="font-size-11"  for="iOth">گوناگون</label>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iTra" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-plane fa-lg"></i>
                            <label class="font-size-11"  for="iTra">گردشگری</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iCin" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-film fa-lg"></i>
                            <label class="font-size-11"  for="iCin">سینمایی</label>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iCar" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-car fa-lg"></i>
                            <label  class="font-size-11" for="iCar">خودرو</label>
                        </label>
                    </div>
                </div>
                <div class="row padding-bottom-20 ">
                    <div class="col-md-12">
                        <label class="btnradio custom-radio-btn" for="css2">
                            <input id="iFun" type="radio" name="css" class="inputnone" id="css2" value="transform" />
                            <span class="custom-radio-outer">
                                <span class="custom-radio-inner"></span>
                            </span>
                            <i class="size-radiobxico fa fa-smile-o fa-lg"></i>
                            <label class="font-size-11" for="iFun">اتاق طنز</label>
                        </label>
                    </div>

                </div>




            </div>
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>ترند موضوع خبری</h2>
            <div class="widget-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="Hybridgraph" style="width: 98%; height: 300px">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-15">
                    <div class="col-md-3">
                        <span class="trendtitle">تعداد خبر</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">تاریخ</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">دسته بندی</span>
                    </div>
                    <div class="col-md-3">

                        <span class="trendtitle">عنوان</span>
                    </div>
                </div>

                <div class="row margin-top-15 padding-bottom-20 ">
                    <div class="col-md-3">
                        <span>756 خبر</span>
                    </div>
                    <div class="col-md-3">
                        <span>1396/08</span>
                    </div>
                    <div class="col-md-3">
                        <span>ورزشی</span>
                    </div>
                    <div class="col-md-3">
                        <span>پرسپولیس</span>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
                <a href="#"><img src="~/placeholders/posts/ad2.jpg" alt="" /></a>
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="widget widget-news card">

            <h2 class="widget-title"><span class="fa fa-rss pull-left"></span>خبرهای مرتبط در @ViewBag.TagName</h2>
            <div class="widget-content">
                <ul class="list-unstyled" id="Top50NewsTag">
             
                  



                </ul>
            </div>
            <!-- widget content -->
        </div>


    </div>
</div>




<div class="row">
    <div class="col-md-2">

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>



    </div>
    <div class="col-md-10">

        <div class="align-center margin-bottom-20">

            <div class="example">
                <div>
                    <div id="altLists"></div>
                </div>
            </div>

        </div>



    </div>
</div>



@section Script
    {


    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.carousel-6.2.1.js"></script>
    <script src="~/js/tweetable.jquery.js"></script>
    <script src="~/js/jquery.timeago.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>

    <script src="~/js/SimpleChart.js"></script>


    <script src="~/js/pagination.js"></script>




    <script>
        $(document).ready(function () {

            var TagSer = "@ViewBag.TagName";
              SearchTagInAllNewsByInputKey(TagSer);
            Get50TopNews(0);

             function Get50TopNews(number) {
                 $("#Top50NewsTag").empty();
                 var url = "http://192.168.1.10:13311/api/tblHashTags/GetTop50NewsByTag-@ViewBag.TagName-1-";
                var page = number;
                var combindUrl = url + page;

                $.getJSON(combindUrl , function (result) {
                    
                    $.each(result, function (i, item) {

                        var time = "14";

                        var splitTitle = item.Title.replace("+", " ").replace("?", " ").replace("*", " ").replace(";", " ").replace(",", " ").replace(".", " ").replace(":", " ").replace("؛", " ").replace("؟", " ").replace("»", " ").replace("«", " ").replace("!", " ").replace("(", " ").replace(")", " ").replace("{", " ").replace("}", " ").replace("[", " ").replace("]", " ").replace("/", " ").replace("-", " ");

                        var SeoUrl = splitTitle.split(" ");

                        var url = "";

                        for (var i = 0; i < SeoUrl.length; i++) {

                            if (url.length > 80) {
                                break;
                            } else {
                                url += SeoUrl[i] + '-';
                            }
                        }

                        var $liTopNews = "<li><div class=\"item clearfix\"><div class=\"row\"><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-up Like\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Likes + "+</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"float-left cursor-pointer\"><i class=\"fa fa-thumbs-o-down UnLike\" aria-hidden=\"true\"></i><span class=\"font-size-12\">" + item.Unlike + "-</span></li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-11\">" + time + " ساعت قبل</li></ul></div><div class=\"col-md-1 col-xs-1 col-sm-1 no-padding\"><ul class=\"CategoriesNews\"><li class=\"font-size-12\">" + item.RssName + "</li></ul></div><div class=\"col-md-8 col-xs-8 col-sm-8  no-padding\"><div><div class=\"boxin-right\"><span class=\"fa fa-angle-double-left HomeBoxes\" aria-hidden=\"true\"></span></div><h1 class=\"titleNews\"><a href=\"/fa/News/Sport/" + item.NewsID + "/" + url + "\" target=\"_blank\" >" + item.Title + "</a></h1></div></div></div></div></li>";
                        $("#Top50NewsTag").append($liTopNews);
                    });
                });
            };


              var dataStore = (function () {
                 var xml;

                 $.ajax({
                     type: "GET",
                     url: "http://192.168.1.10:13311/api/Pageination/Tag-@ViewBag.TagName",
                     success: function (data) {

                         //console.log(data);
                         if (data >= 500) {
                             data = 500;
                         }

                         $("#altLists").asPaginator(data
                             , {

                                 currentPage: data / 4,
                                 itemsPerPage: 50,
                                 visibleNum: 4,
                                 resizeThrottle: 250,

                                 tpl: function () {
                                     return '<ul>{{first}}{{prev}}{{altLists}}{{next}}{{last}}</ul>';
                                 },
                                 components: {
                                     first: true,
                                     prev: true,
                                     next: true,
                                     last: true,
                                     altLists: true
                                 },
                                 onChange: function (page) {
                                     //var url = '' + page;
                                     //console.log('ajax request' + url)
                                     //$.ajax({
                                     //    url: url,
                                     //    dataType: 'json',
                                     //    success: function (data) {
                                     //        alert(this.data)
                                     //    }
                                     //})
                                     var pageid = page - 1;
                                     //console.log(pageid);
                                     Get50TopNews(pageid);
                                 }
                             });
                     }
                 });

                 return {
                     getXml: function () {
                         if (xml) return xml;
                         // else show some error that it isn't loaded yet;
                     }
                 };
            })();

        });


        function SearchTagInAllNewsByInputKey(GetName) {



            $.getJSON("http://192.168.1.10:13311/api/tblNews/SearchedKeyGetCount-" + GetName + "-Day", function (result) {

                
              

                var DateCharts = [];
                var i = 0;
                $.each(result[0], function (key, value) {
                    if (i <= 20) {

                        DateCharts.push({ X:  i + " - " , Y: value })
                    }
                    i = i + 1;
                });

                

                var graphdata1 = {
                    linecolor: "Random",
                    title: "ماه",
                    values: DateCharts
                };

                //$(function () {

                $("#Hybridgraph").SimpleChart({
                    ChartType: "Hybrid",
                    toolwidth: "50",
                    toolheight: "25",
                    axiscolor: "#E6E6E6",
                    textcolor: "#6E6E6E",
                    showlegends: false,
                    data: [graphdata1],
                    legendsize: "140",
                    legendposition: 'bottom',
                    xaxislabel: 'روز',
                    yaxislabel: 'تعداد اخبار'
                });

                


            });
        }
   
    </script>


}